<?
$this->headTitle('Done Rides')->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);
?>

<table class="datatable sortable zebra" id="records" width="100%">
    <thead>
        <tr>
            <th class="{lsorter: false}">Actions</th>
            <th>Status</th>
            <th>Car</th>
            <th>Name</th>
            <th>Riders</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Cell</th>
            <th style="width:60px;">Waited</th>
            <th style="width:60px;">Rode</th>
            <th>Home At</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script id="row_template" type="text/x-jquery-tmpl">
    <tr id="row{{=num}}">
        <td nowrap="nowrap">
            <?=$this->button(array(
                'type'		=> 'small',
                'href'		=> $this->route(array('module' => 'phoneroom', 'controller' => 'edit', 'action' => 'index', 'origin' => 'ajax')).'/num/{{=num }}',
                'text'		=> 'Edit',
            )) ?>
            <?=$this->button(array(
                'type'		=> 'small',
                'href'		=> $this->route(array('module' => 'phoneroom', 'controller' => 'done', 'action' => 'undo', 'origin' => 'ajax')).'/num/{{=num }}',
                'class'		=> 'btn-warning',
                'text'		=> 'Undo',
            )) ?>
        </td>
        <td>{{=status }}</td>
        <td align="center"><big><a href="<?=$this->routeFromHere(array('action' => 'car', 'origin' => 'ajax')) ?>/car/{{=car }}">{{=car }}</a></big></td>
        <td>{{=name }}</td>
        <td>{{=riders }}</td>
        <td><a href="{{=pickup_map }}" class="fancybox fancybox.iframe">{{=pickup }}</a></td>
        <td><a href="{{=dropoff_map }}" class="fancybox fancybox.iframe">{{=dropoff }}</a></td>
        <td nowrap="nowrap">{{=cell_display }}</td>
        <td><span class="{{=wait_time_class }}">{{=wait_time }}</span></td>
        <td><span class="{{=rode_time_class }}">{{=rode_time }}</span></td>
        <td>{{=home_time }}</td>
    </tr>
</script>

<script type="text/javascript">
var rides = <?=json_encode($this->rides) ?>;
var page_codes = ['done', 'cpmissed', 'cancelled'];
</script>
<?=$this->renderHere('liveload', TRUE) ?>