/**
 * Phoneroom ride type pages
 */

span.short {
	color: #090;	
}
span.med {
	color: #F90;
}
span.long {
	color: #F00;
}

/**
 * Stats page
 */
#stats-content {width: 920px;}
#stats-content img { border: 1px solid #DDD; }
#top-chart {float:left;margin:20px;}
#ride-meter {float:right;margin:20px 10px 10px 0px;}
#pie-chart {float:right;margin:20px 10px 10px 10px;}
#car-chart {float:left;margin:60px 10px 10px 25px;}
#ride-count {float:right;margin:20px 10px 10px 10px;}


/**
 * Cars Page
 */
.car-legend {padding: 5px 10px; float: left; border:1px solid #AAA}

.car-box {border: 3px solid #555; margin: 10px; padding: 0px; width: 175px; float: left; height: 175px;}
.car-inner {padding: 10px;}
.car-box form { display: inline; }
.car-box h2 {color:#222;vertical-align:middle;text-align:center;font-weight:bold;margin:10px;font-size: 120%;}
.car-box h3 {color:#222;vertical-align:middle;text-align:center;font-weight:normal;margin:0;font-size: 120%; text-decoration: none;}
.car-circuit, .car-circuit td {background-color: #9ff !important;}
.car-normal, .car-normal td {background-color: #d6f !important;}
.car-call, .car-call td {background-color: #f66 !important;}
.car-here, .car-here td {background-color: #eee !important;}
.car-done, .car-done td {background-color: #8f8 !important;}
.car-chill, .car-chill td {background-color: #ff9 !important;}
.car-edit {background-color: #fff; border-color: #f44 !important;}
.car-edit a {float:right;font-family:Arial;margin:0;}
.car-edit a:hover {font-weight: bold;}
.car-edit input {clear:both; font-size: 110%; border: solid 1px rgb(160,160,160); text-align: center;  padding: 1px;margin:5px 25px;width:120px;}
.car-edit input.car-call:hover {color: white; background-color: #c00;}
.car-edit input.car-done:hover {color: white; background-color: #0a0;}

/**
 * Draggable/droppable items in NDR Page
 */
.cp_draggable {
	float: left;
	width: 57px;
	height: 55px;
	border: 1px dashed #CCC;
	margin: 0 5px 5px 0;
	background: #EEE;
	cursor: move;
}
.cp_draggable div {
	padding: 3px;
	font-size: 10px;
	line-height: 11px;
	font-weight: bold;	
	overflow: hidden;
}
.cp_droppable {
	border: 1px dashed #DDD;
	padding: 5px;
	margin-bottom: 5px;
}
.cp_droppable_container {
	min-height: 65px;
}