/**
 * DF DataTable
 **/

table.datatable {
	border: 1px solid #CCC;
	border-collapse: collapse;
	width: 100%;
	padding: 0;
	margin: 0;
}
.ie6 table.datatable {
	width: 99%;
	margin-right: -3px;	
}

div.datatable-wrapper table.datatable {
	border: 0;
	border-collapse: collapse;
}

table.datatable tr th {
	background: #D8D8DA url('datatable-header.jpg') top left repeat-x;
	color: #000;
	border: 1px solid #CCC;
	border-left: 0;
	padding: 6px 4px;
	font-size: 11px;
}

table.datatable tr td,
div#page div.datatable,
div#page a.datatable,
div#page div.toolbar {
	background: #EEE;
	border: 1px solid #CCC;
	color: #000;
	padding: 4px;
}

table.datatable a:link,
table.datatable a:visited,
div.datatable a:link,
div.datatable a:visited {
	color: #333;
}
table.datatable a:hover,
table.datatable a:visited:hover,
div.datatable a:hover,
div.datatable a:visited:hover {
	color: #555;
}

table.datatable tr {
	border: 0;
}

table.datatable tr td {
	border-width: 0 1px 0 0;
}

table.datatable.no-cell-borders tr td {
	border: 0;
}

table.datatable tr.divider td {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 0;
	border-right: 0;
	background: #FFF;
	font-size: 2px;
	overflow: hidden;
}

body table.datatable tr.even td,
body table.datatable tr td.even,
body table.datatable tr td tr.even td,
body table.datatable tr td tr td.even,
div#page div.datatable.even,
div#page a.datatable.even,
dl.even,
fieldset.even {
	background: #EDF5FF;
}
body table.datatable tr.odd td,
body table.datatable tr td.odd,
body table.datatable tr td tr.odd td,
body table.datatable tr td tr td.odd,
div#page div.datatable.odd,
div#page a.datatable.odd,
dl.odd,
fieldset.odd {
	background: #FFF;
}

div#page table.datatable tr.disabled td,
div#page table.datatable tr td.disabled
{
	background: #DDD;
}
table.datatable tr.error td,
table.datatable tr.red td,
div#page table.datatable tr td.error,
div#page table.datatable tr td.red {
	background: #EED6D5;
}
table.datatable tr.neutral td,
table.datatable tr.yellow td,
div#page table.datatable tr td.neutral,
div#page table.datatable tr td.yellow {
	background: #EEEFD3;
}
table.datatable tr.success td,
table.datatable tr.green td,
div#page table.datatable tr td.success,
div#page table.datatable tr td.green {
	background: #D5EFD3;
}
table.datatable tr.notice td,
table.datatable tr.blue td,
div#page table.datatable tr td.notice,
div#page table.datatable tr td.blue {
	background: #D7DFEC;
}

div#page div.toolbar {
	-moz-border-radius: 5px;
}