/**
 * 960.gs inner grid styles
 */
div.grid_inner.hidden_by_default {
	display: none;
}
div.grid_inner.homepage_rotator div.homepage_rotator_inner {
	position: absolute;
	top: 47px;
	left: 20px;
	width: 900px;
	color: #FFF;
}
div.grid_inner.homepage_rotator a,
div.homepage_rotator_inner a {
	color: #FFF;
	text-decoration: none;
}
div.grid_inner {
	padding: 10px;
    margin-bottom: 20px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.grid_body {
	border-top-width: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	padding-top: 5px;
}
div.grid_header {
	font-size: 15px;
	font-weight: bold;
	padding: 7px 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

div.grid_inner.grid_gray,
div.grid_inner.grid_blue,
div.grid_inner.grid_green,
div.grid_inner.grid_red,
div.grid_inner.grid_gold,
div.grid_inner.grid_cyan,
div.grid_inner.grid_slate,
div.grid_inner.grid_lime {
	border-width: 2px;
	border-style: solid;
}

/**
 * 960.gs inner grid colors
 */

div.grid_inner.grid_gray {
	border-color: #CCC;
	background-color: #FAFAFA;
}

div.grid_inner.grid_blue {
	border-color: #C6D0EC;
	background-color: #EDF2F8;
}

div.grid_inner.grid_green {
	border-color: #C4DDBF;
	background-color: #EBF3EB;
}
div.grid_inner.grid_red {
	border-color: #F4DFDF;
	background-color: #FEF1F1
}
div.grid_inner.grid_gold {
	border-color: #D9DBB9;
	background-color: #F0F1E4;
}
div.grid_inner.grid_cyan {
	border-color: #B9E9FF;
	background-color: #ECF9FF;
}
div.grid_inner.grid_slate {
	border-color: #828282;
	background-color: #E4E4E4;
}
div.grid_inner.grid_lime {
	border-color: #00FF00;
	background-color: #D5FFD5;
}

div.grid_inner.grid_toolbar {
    padding: 5px;
    border-color: #AAA;
	background-color: #EDEDED;
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, #DDD),
        color-stop(0, #FAFAFA)
	);
	background-image: -moz-linear-gradient(
        center top,
        #CCC,
        #EDEDED
	);
}

/**
 * Panels with two even columns
 */

div.panels_split div.panel_split_left,
div.panels_split div.panel_split_right {
	float: left;
	width: 50%;
}
div.panels_split div.panel_split_right div.panel_split_inner {
	padding-left: 5px;
	border-left: 1px solid #DEDEDE;
}
div.panels_split div.panel_split_left div.panel_split_inner {
	padding-right: 5px;
}

/**
 * Panels with a wider right column (useful for vertical tabs)
 */

div.panels_wideright div.panel_wideright_left,
div.panels_wideright div.panel_wideright_right {
	float: left;
}
div.panels_wideright div.panel_wideright_left {
	width: 30%;
}
div.panels_wideright div.panel_wideright_right {
	width: 70%;
}

hr.cleaner {
	clear: both;
	height: 0px;
	margin: 0 -1px 0 0;
	padding:0;
	border:none;
	visibility: hidden;
}