<?
$this->headTitle('System Administration');
$this->layout()->manual = TRUE;
?>

<div class="grid_6">
    <div class="grid_inner">
        <h2>User Management</h2>
        
        <dl>
            <dt><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'users')) ?>">Users</a></dt>
            <dd>Manage the user accounts in the system and assign permissions to users.</dd>
            
            <dt><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'permissions')) ?>">Permissions</a></dt>
            <dd>Manage the various roles in the system and the access each role has to site features.</dd>
        </dl>
    </div>
</div>

<div class="grid_6">
    <div class="grid_inner">
        <h2>Other Settings</h2>
        
        <dl>
            <dt><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'settings')) ?>">Site Settings</a></dt>
            <dd>Change the operational settings for the system.</dd>
        </dl>
    </div>
</div>