<?
$this->headTitle('Assign Points');
?>
<form action="<?=\DF\Url::current() ?>" method="post" class="df-form form-stacked">

<h3>Point Information</h3>

<div class="clearfix">
    <label for="points">Number of Points:</label>
    <input type="text" name="points" class="required number">
    <p>To remove points, enter a negative number.</p>
</div>

<div class="clearfix">
    <label for="event">Description:</label>
    <input type="text" name="event" class="required full-width">
</div>

<h3>Select Members</h3>

<div class="tabbable">
	<ul class="nav nav-pills">
    <? foreach($this->teams as $team_id => $team_info): ?>
    	<li><a href="#team_<?=$team_id ?>" data-toggle="tab"><?=$team_info['name'] ?></a></li>
    <? endforeach; ?>
    </ul>

    <div class="tab-content">
    <? foreach($this->teams as $team_id => $team_info): ?>
        <div class="tab-pane" id="team_<?=$team_id ?>">
        	<h2><?=$team_info['name'] ?></h2>
            
    		<?=$this->formMultiCheckbox('members', NULL, NULL, $team_info['users']) ?>
        </div>
    <? endforeach; ?>
    </div>
</div>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'positive',
		'icon'		=> 'disk',
		'text'		=> 'Save Changes',
	)) ?>
</div>
</form>

<script type="text/javascript">
$(function() {
	$('#team_tabs').tabs();
});
</script>