<?
$this->headTitle('Send SMS');
?>

<h2>Your Selected Recipient(s)</h2>

<dl>
<? foreach($this->users as $user): ?>
	<? if ($user['can_send_sms']): ?>
		<dd class="valid"><b><?=$user['lastname'] ?>, <?=$user['firstname'] ?></b> - Active</dd>
	<? else: ?>
		<dd class="error"><b><?=$user['lastname'] ?>, <?=$user['firstname'] ?></b> - Inactive</dd>
	<? endif; ?>
<? endforeach; ?>
</dl>

<h2>Enter Message</h2>

<form action="<?=\DF\Url::current() ?>" method="post">
<input type="hidden" name="recipients" value="<?=$this->recipients ?>" />

<dl>
	<dt>Enter Message:</dt>
	<dd><textarea name="message" class="full-width half-height"></textarea></dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'phone',
		'class'		=> 'confirm-action',
		'text'		=> 'Send Message',
	)) ?>
</div>
</form>