<?
$this->headTitle('Member List');
$this->layout()->tabs = $this->renderHere('tabs');
?>

<h2><?=$this->team_name ?></h2>

<div class="row">
	<div class="span5">
		<h3>Males</h3>
		
		<table class="datatable zebra" width="100%">
			<colgroup>
				<col width="5%" />
				<col width="45%" />
				<col width="50%" />
			</colgroup>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Contact</th>
			</tr>
			<? foreach($this->members['males'] as $user_row): ?>
			<tr class="input">
				<td align="center"><a class="user_avatar" href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'view', 'id' => $user_row['id'])) ?>" title="Click to View Profile"><?=$this->icon('vcard') ?></a></td>
				<td><big><?=$user_row['lastname'] ?>, <?=$user_row['firstname'] ?><? if ($user_row['semesters'] < 2): ?>*<? endif; ?></big></td>
				<td align="left"><small>
					Local Phone: <?=$user_row['lphone'] ?><br />
					Cell Phone: <?=$user_row['cphone'] ?><br />
					E-mail: <?=$this->mailto($user_row['email']) ?>
				</small></td>
			</tr>
			<? endforeach; ?>
		</table>
	</div>
	<div class="span5">
		<h3>Females</h3>
	
		<table class="datatable zebra" width="100%">
			<colgroup>
				<col width="5%" />
				<col width="45%" />
				<col width="50%" />
			</colgroup>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Contact</th>
			</tr>
			<? foreach($this->members['females'] as $user_row): ?>
			<tr class="input">
				<td align="center"><a class="user_avatar" href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'view', 'id' => $user_row['id'])) ?>" title="Click to View Profile"><?=$this->icon('vcard') ?></a></td>
				<td><big><?=$user_row['lastname'] ?>, <?=$user_row['firstname'] ?><? if ($user_row['semesters'] < 2): ?>*<? endif; ?></big></td>
				<td align="left"><small>
					Local Phone: <?=$user_row['lphone'] ?><br />
					Cell Phone: <?=$user_row['cphone'] ?><br />
					E-mail: <?=$this->mailto($user_row['email']) ?>
				</small></td>
			</tr>
			<? endforeach; ?>
		</table>
	</div>
</div>