<ul class="nav nav-pills autoselect" rel="<?=$this->team_id ?>">
<? foreach($this->team_tabs as $team_id => $team_name): ?>
	<li rel="<?=$team_id ?>"><a href="<?=$this->routeFromHere(array('team' => $team_id)) ?>"><?=$team_name ?></a></li>
<? endforeach; ?>
</ul>