<?
$this->headTitle('Manage Events');
?>
<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large success',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
		'icon'		=> 'add',
		'text'		=> 'Add Event',
	)) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
	<colgroup>
    	<col width="3%" />
        <col width="3%" />
        <col width="3%" />
		<col width="10%" />
        <col width="16%" />
        <col width="15%" />
        <col width="50%" />
    </colgroup>
	<tr>
    	<th colspan="3">&nbsp;</th>
		<th>Open</th>
        <th>Date</th>
        <th>Category</th>
        <th>Title</th>
    </tr>
    <? foreach($this->pager as $event): ?>
    <tr class="input">
    	<td align="center"><a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $event['num'])) ?>" title="View Event Page"><?=$this->icon('calendar') ?></a></td>
        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'edit', 'num' => $event['num'])) ?>" title="Edit Event"><?=$this->icon('pencil') ?></a></td>
        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'delete', 'num' => $event['num'])) ?>" title="Delete Event" class="confirm-delete"><?=$this->icon('delete') ?></a></td>
		<td align="center">
		<? if ($event['is_open'] == 1): ?>
			<a href="<?=$this->routeFromHere(array('action' => 'toggle', 'num' => $event['num'])) ?>" title="Event is Open - Click to Close">Yes</a>
		<? else: ?>
			<a href="<?=$this->routeFromHere(array('action' => 'toggle', 'num' => $event['num'])) ?>" title="Event is Closed - Click to Open">No</a>
		<? endif; ?>
		</td>
		<td align="center"><?=$event['event_date']->format('M j, Y') ?></td>
        <td align="center"><?=$event['category'] ?></td>
        <td align="left"><?=$event['title'] ?></td>
    </tr>
    <? endforeach; ?>
</table>

<?=$this->paginate($this->pager) ?>