<?
$page_title = (!$this->team) ? 'Create Team' : 'Edit Team';
$this->headTitle($page_title);
?>
<form action="<?=\DF\Url::current() ?>" method="post" class="validate">
<dl>
	<dt>Team Name:</dt>
    <dd><input type="text" name="team[team_name]" class="required full-width" value="<?=$this->team['team_name'] ?>" /></dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'positive',
		'icon'		=> 'disk',
		'text'		=> 'Save Changes',
	)) ?>
</div>
</form>