<?
$this->headTitle('Manage Team');
?>
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'positive',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
		'icon'		=> 'add',
		'text'		=> 'Add New Team',
	)) ?>
</div>

<h2>Current Team</h2>

<? $this->zebra('reset'); ?>
<table class="datatable" width="100%">
	<colgroup>
    	<col width="3%" />
        <col width="3%" />
         <col width="3%" />
        <col width="91%" />
    </colgroup>
    <tr>
    	<th colspan="3">&nbsp;</th>
        <th>Team name</th>
    </tr>
    <? foreach($this->Team as $team): ?>
    <tr class="<?=$this->zebra() ?>">
    	<td align="center"><a href="<?=$this->routeFromHere(array('action' => 'edit', 'id' => $team['team_id'])) ?>" title="Edit Team"><?=$this->icon('pencil') ?></a></td>
        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'delete', 'id' => $team['team_id'])) ?>" title="Delete Team" class="confirm-delete"><?=$this->icon('delete') ?></a></td>
        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'members', 'id' => $team['team_id'])) ?>" title="Team Members"><?=$this->icon('group') ?></a></td>
        <td align="left">
        	<big><?=$team['team_name'] ?></big>
        </td>
    </tr>
    <? endforeach; ?>
</table>