<?
$this->headTitle('Events');
?>

<? if ($this->calendar['prev_page_datecode']): ?>
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'resultset_previous',
		'text'		=> $this->calendar['prev_page_text'],
		'style'		=> 'float: left',
		'href'		=> $this->routeFromHere(array('month' => $this->calendar['prev_page_datecode'])),
	)) ?>
<? endif; ?>
<? if ($this->calendar['next_page_datecode']): ?>
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'resultset_next',
		'text'		=> $this->calendar['next_page_text'],
		'style'		=> 'float: right',
		'href'		=> $this->routeFromHere(array('month' => $this->calendar['next_page_datecode'])),
	)) ?>
<? endif; ?>
<h2 style="text-align: center"><?=$this->calendar['current_page_text'] ?></h2>

<br>

<? $this->zebra('reset'); ?>    
<table class="datatable" width="100%">
    <tr>
        <th width="15%" align="center">Sunday</th>
        <th width="14%" align="center">Monday</th>
        <th width="14%" align="center">Tuesday</th>
        <th width="14%" align="center">Wednesday</th>
        <th width="14%" align="center">Thursday</th>
        <th width="14%" align="center">Friday</th>
        <th width="15%" align="center">Saturday</th>
    </tr>
    <? foreach($this->calendar['days'] as $calendar_row): ?>
    <tr class="<?=$this->zebra() ?> nopad">
		<? foreach($calendar_row as $calendar_day): ?>
        <td style="vertical-align: top; height: 100px;" class="<?=$calendar_day['class'] ?>">
            <big><?=$calendar_day['day'] ?></big><br />
            <? foreach($calendar_day['records'] as $event): ?>
				<?
                $max_ppl = ($event['max_ppl'] != 0) ? $event['max_ppl'] : '&infin;';
                ?>
                <div style="padding: 1px 0px 3px 0px; border-top: 1px dashed #DDD;">
                <? if ($event['category'] == "announcement"): ?>
                	<?=$this->icon(array(
						'image'		=> 'information',
						'style'		=> 'float: right',
					)) ?>
                    <small><b>Announcement:</b></small><br />
                    <b><?=$event['title'] ?></b>
                <? else: ?>
                <a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $event['num'])) ?>" style="text-decoration: none;" title="Click to view event details">
					<small><b><?=$event['category_text'] ?></b></small><br />
					<b><?=$event['title'] ?></b><br />
                    <? if ($event['category'] == "night"): ?>
                    <table class="table table-condensed">
                    	<colgroup>
                        	<col width="33%" />
                            <col width="34%" />
                            <col width="33%" />
                        </colgroup>
                    	<tr>
                        	<td align="center">
                            	<?=$this->icon('user') ?><br />
								<small><?=intval($event['signup']['M']) ?>/<?=$max_ppl ?></small>
                            </td>
                            <td align="center">
                            	<?=$this->icon('user_female') ?><br />
								<small><?=intval($event['signup']['F']) ?>/<?=$max_ppl ?></small>
                            </td>
                            <td align="center">
                            	<?=$this->icon('user_gray') ?><br />
                                <small><?=intval($event['signup']['execs']) ?></small>
                            </td>
                        </tr>
                    </table>
                    <? else: ?>
                    <table class="table table-condensed">
                    	<colgroup>
                        	<col width="67%" />
                            <col width="33%" />
                        </colgroup>
                    	<tr>
                        	<td align="center">
                            	<?=$this->icon('user_green') ?><br />
								<small><?=intval($event['signup']['members']) ?>/<?=$max_ppl ?></small>
                            </td>
                            <td align="center">
                            	<?=$this->icon('user_gray') ?><br />
                                <small><?=intval($event['signup']['execs']) ?></small>
                            </td>
                        </tr>
                    </table>
                    <? endif; ?>
                </a>
                <? endif; ?>
                </div>
            <? endforeach; ?>
        </td>
        <? endforeach; ?>
    </tr>
    <? endforeach; ?>
</table>