<?
$this->headTitle('Nice Things Report');
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'resultset_previous',
		'text'		=> 'Back to List',
		'href'		=> $this->routeFromHere(array('action' => 'index', 'id' => NULL)),
	)) ?>
</div>

<h2><?=$this->record['firstname'] ?> <?=$this->record['lastname'] ?></h2>

<dl>
<? foreach($this->record['NiceThing'] as $thing): ?>
	<dt><?=$thing['Submitter']['firstname'] ?> <?=$thing['Submitter']['lastname'] ?>:</dt>
	<dd><?=nl2br($thing['message']) ?></dd>
<? endforeach; ?>
</dl>