<?
$this->headTitle('Reset CARPOOL Member Services System');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span6">
		<div class="floating">
			<h2>Reset Phoneroom and Event Signups</h2>
			<p>Use this function to delete all signups and phoneroom records. NDRs and events themselves are not deleted for records retention purposes.</p>

			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'arrow_refresh',
					'class'		=> 'primary confirm-action',
					'href'		=> $this->routeFromHere(array('action' => 'clearevents')),
					'text'		=> 'Reset Signups &amp; Phoneroom',
				)) ?>
			</div>
		</div>
		<div class="floating">
			<h2>Reset Points and Flags</h2>
			<p>Use this function to delete all point assignments and training/dues flags from all members.</p>

			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'arrow_refresh',
					'class'		=> 'primary confirm-action',
					'href'		=> $this->routeFromHere(array('action' => 'clearflags')),
					'text'		=> 'Reset Points &amp; Flags',
				)) ?>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="floating">
			<h2>Reset Members</h2>
			<p>Use this function to clean out all existing members from the system and replace them with the list you supply in the text field below. Staff members, executives and directors remain in their positions.</p>

			<form action="<?=$this->routeFromHere(array('action' => 'clearmembers')) ?>" method="post" class="form-stacked df-form">
				<div class="clearfix">
					<label for="members">New Members:</label>
					<span class="help-block">Enter each member's UIN on a new line. Other information about the member will automatically be pulled when the user is created.</span>
					<textarea name="members" class="full-width full-height"></textarea>
				</div>

				<?=$this->button(array(
					'type'		=> 'submit',
					'class'		=> 'confirm-action primary',
					'icon'		=> 'arrow_refresh',
					'text'		=> 'Reset Membership',
				)) ?>
			</form>
		</div>
	</div>
</div>