<?
$this->headTitle('Select Member for Debriefing');
?>

<p>The following members have signed up for tonight, but haven't been debriefed. Click their name to submit a debriefing for them.</p>

<ul>
<? foreach($this->members as $user_id => $member_name): ?>
	<li><a href="<?=$this->routeFromHere(array('id' => $user_id)) ?>"><?=$member_name ?></a></li>
<? endforeach; ?>
</ul>