<?
$this->headTitle('Submit Debriefing');

$score_opts = array();
for($i = 0; $i <= 10; $i++)
    $score_opts[$i] = $i;

$yesno_opts = array('N' => 'No', 'Y' => 'Yes');
?>

<div class="alert alert-info">
    <p><b>CARPOOL Miranda Rights:</b></p>
    <p>Debriefings are meant to be a documented record of how your night went. Only directors will have access to these debriefings. This is your opportunity to let us know of any issues or concerns you had throughout the night. You have the right to debrief with another exec if you choose. Do you want to begin? </p>
</div>

<form action="<?=\DF\Url::current() ?>" class="df-form form-stacked" method="post">

<div class="clearfix">
    <label for="name">Name:</label>
    <?=$this->member ?>
</div>

<div class="clearfix">
    <label for="form[Role]">What did you do tonight?</label>
	<?
	$role_options = array(
		'car'	=> 'In a Car',
		'herschel' => 'Herschel',
		'incoming' => 'Incoming',
	);
	echo $this->formRadio('form[Role]', NULL, array('class' => 'role_select'), $role_options);
	?>
</div>

<fieldset class="role_fieldset" id="role_car">
    <legend>In a Car</legend>
    
    <div class="clearfix">
        <label for="form[Car]">Car:</label>
        <?
        $num_cars = $this->config->carpool->max_num_cars;
		$car_select = array();
		for($i = 1; $i <= $num_cars; $i++)
			$car_select[$i] = 'Car '.$i;
		echo $this->formSelect('form[Car]', NULL, NULL, $car_select);
		?>
    </div>

    <div class="clearfix">
        <label for="form[DriveOrNavigate]">Drive or Navigate:</label>
    	<?
		$dnb_options = array(
			'D'		=> 'Drive',
			'N'		=> 'Navigate',
			'B'		=> 'Both',
		);
		echo $this->formRadio('form[DriveOrNavigate]', NULL, NULL, $dnb_options);
		?>
    </div>

    <div class="clearfix">
        <label for="form[HowWasPartner]">How was your partner?</label>
        <textarea name="form[HowWasPartner]" class="half-width half-height"></textarea>
    </div>

    <div class="clearfix">
        <label for="form[CouchName]">Couch:</label>
        <?=$this->formSelect('form[CouchName]', NULL, NULL, $this->members_select_by_name) ?>
    </div>

    <div class="clearfix flat">
        <label for="form[CouchScore]">Couch score:</label>
        <?=$this->formRadio('form[CouchScore]', NULL, NULL, $score_opts) ?>
    </div>

    <div class="clearfix">
        <label for="form[CouchSuggestions]">Couch suggestions:</label>
        <textarea name="form[CouchSuggestions]" class="half-width half-height"></textarea>
    </div>
</fieldset>

<fieldset class="role_fieldset" id="role_herschel">
    <legend>Herschel</legend>

    <div class="clearfix">
        <label for="form[NorthgateExperience]">How was your experience on Northgate?</label>
        <input type="text" name="form[NorthgateExperience]" class="half-width" />
    </div>

    <div class="clearfix">
        <label for="form[ComfortableWithNorthgateRole]">Did you feel comfortable with your role on Northgate?</label>
        <input type="text" name="form[ComfortableWithNorthgateRole]" class="half-width" />
    </div>

    <div class="clearfix">
        <label for="form[PatronOverview]">How were the patrons?</label>
        <input type="text" name="form[PatronOverview]" class="half-width" />
    </div>
</fieldset>

<fieldset class="role_fieldset" id="role_incoming">
    <legend>Incoming</legend>

    <div class="clearfix">
        <label for="form[PhoneroomExperience]">How was your experience in the phoneroom?</label>
        <input type="text" name="form[PhoneroomExperience]" class="half-width" />
    </div>
</fieldset>

<fieldset>
    <legend>Overall Questions</legend>

    <div class="clearfix flat">
        <label for="form[OverallScore]">Overall Night Score:</label>
        <?=$this->formRadio('form[OverallScore]', NULL, NULL, $score_opts) ?>
    </div>

    <div class="clearfix">
        <label for="form[OverallScoreReason]">Why?</label>
        <textarea name="form[OverallScoreReason]" class="half-width half-height"></textarea>
    </div>

    <div class="clearfix">
        <label for="form[HouseAtmosphere]">How was the atmosphere in the house?</label>
        <textarea name="form[HouseAtmosphere]" class="half-width half-height"></textarea>
    </div>
    
<? if ($this->custom_question): ?>
    <div class="clearfix">
        <label for="form[CustomQuestionAnswer]">Director's Custom Question: <?=$this->custom_question ?></label>
        <textarea name="form[CustomQuestionAnswer]" class="half-width half-height"></textarea>
    </div>
<? endif; ?>

    <div class="clearfix">
        <label for="form[OtherComments]">Comments, suggestions, or stories:</label>
        <textarea name="form[OtherComments]" class="half-width full-height"></textarea>
    </div>
</fieldset>

<fieldset>
    <legend>Situational Questions</legend>

    <p>Did any of the following occur?</p>

    <div class="clearfix display-trigger">
        <label for="form[UncomfortableSituation]">Uncomfortable situation occurred with another person tonight?</label>
        <?=$this->formRadio('form[UncomfortableSituation]', NULL, NULL, $yesno_opts) ?>
    </div>

    <div class="display-area" rel="form[UncomfortableSituation]">
        <div class="clearfix">
            <label for="form[SituationWith]">Who was it with?</label>
            <input type="text" name="form[SituationWith]" class="full-width">
        </div>
        <div class="clearfix">
            <label for="form[DescribeSituation]">Describe the situation:</label>
            <textarea name="form[DescribeSituation]" class="full-width half-height"></textarea>
        </div>
    </div>

    <div class="clearfix display-trigger">
        <label for="form[SuspectedAlcoholPoisoning]">Suspected alcohol poisoning?</label>
        <?=$this->formRadio('form[SuspectedAlcoholPoisoning]', NULL, NULL, $yesno_opts) ?>
    </div>

    <div class="display-area" rel="form[SuspectedAlcoholPoisoning]">
        <div class="clearfix">
            <label for="form[ReasonForSuspectingAP]">What made you think the patron had alcohol poisoning?</label>
            <textarea name="form[ReasonForSuspectingAP]" class="full-width half-height"></textarea>
        </div>
        <div class="clearfix">
            <label for="form[CalledEMS]">Did you call EMS?</label>
            <input type="text" name="form[CalledEMS]" class="full-width">
        </div>
        <div class="clearfix">
            <label for="form[ReasonPatronOK]">If not, what made you decide the patron was OK to go home?</label>
            <input type="text" name="form[ReasonPatronOK]" class="full-width">
        </div>
    </div>

    <div class="clearfix display-trigger">
        <label for="form[WitnessedConfrontation]">Witnessed a confrontation?</label>
        <?=$this->formRadio('form[WitnessedConfrontation]', NULL, NULL, $yesno_opts) ?>
    </div>

    <div class="display-area" rel="form[WitnessedConfrontation]">
        <div class="clearfix">
            <label for="form[WasCARPOOLInvolved]">Was CARPOOL involved in the situation?</label>
            <input type="text" name="form[WasCARPOOLInvolved]" class="full-width">
        </div>
        <div class="clearfix">
            <label for="form[WhatHappened]">What happened?</label>
            <textarea name="form[WhatHappened]" class="full-width half-height"></textarea>
        </div>
        <div class="clearfix">
            <label for="form[WerePoliceNotified]">Were the police notified?</label>
            <input type="text" name="form[WerePoliceNotified]" class="full-width">
        </div>
    </div>

    <div class="clearfix display-trigger">
        <label for="form[WitnessedViolation]">Witnessed a violation of CARPOOL rules/policies, University policies, Law?</label>
        <?=$this->formRadio('form[WitnessedViolation]', NULL, NULL, $yesno_opts) ?>
    </div>

    <div class="display-area" rel="form[WitnessedViolation]">
        <div class="clearfix">
            <label for="form[WhatWasOffense]">What was the offense?</label>
            <textarea name="form[WhatWasOffense]" class="full-width half-height"></textarea>
        </div>
        <div class="clearfix">
            <label for="form[WhoWasOffender]">Who was the offender?</label>
            <textarea name="form[WhoWasOffender]" class="full-width half-height"></textarea>
        </div>
        <div class="clearfix">
            <label for="form[DidYouConfrontThem]">Did you confront them?</label>
            <textarea name="form[DidYouConfrontThem]" class="full-width half-height"></textarea>
        </div>
        <div class="clearfix">
            <label for="form[WhatWasResponse]">If so, what was their response?</label>
            <textarea name="form[WhatWasResponse]" class="full-width half-height"></textarea>
        </div>
    </div>

    <div class="clearfix display-trigger">
        <label for="form[Accident]">Was there an accident?</label>
        <?=$this->formRadio('form[Accident]', NULL, NULL, $yesno_opts) ?>
    </div>

    <div class="display-area" rel="form[Accident]">
        <div class="clearfix">
            <label for="form[WasAnyoneInjured]">Was anyone injured?</label>
            <input type="text" name="form[WasAnyoneInjured]" class="full-width">
        </div>
        <div class="clearfix">
            <label for="form[ExtentOfInjury]">If so, who was injured and what was the extent of the injury?</label>
            <input type="text" name="form[ExtentOfInjury]" class="full-width">
        </div>
        <div class="clearfix">
            <label for="form[AccidentDescription]">Describe the situation:</label>
            <textarea name="form[AccidentDescription]" class="full-width half-height"></textarea>
        </div>
        <div class="clearfix">
            <label for="form[WhoWasAtFault]">Who, in your opinion, was at fault?</label>
            <input type="text" name="form[WhoWasAtFault]" class="full-width">
        </div>
    </div>

    <div class="clearfix display-trigger">
        <label for="form[RideTerminated]">Was a ride terminated?</label>
        <?=$this->formRadio('form[RideTerminated]', NULL, NULL, $yesno_opts) ?>
    </div>

    <div class="display-area" rel="form[RideTerminated]">
        <div class="clearfix">
            <label for="form[WhyWasRideTerminated]">Why was the ride terminated?</label>
            <textarea name="form[WhyWasRideTerminated]" class="full-width half-height"></textarea>
        </div>
        <div class="clearfix">
            <label for="form[ComfortableTerminatingRide]">Did you feel comfortable terminating the ride?</label>
            <input type="text" name="form[ComfortableTerminatingRide]" class="full-width">
        </div>
        <div class="clearfix">
            <label for="form[ResponseToTermination]">How did the patron respond to ride termination?</label>
            <input type="text" name="form[ResponseToTermination]" class="full-width">
        </div>
        <div class="clearfix">
            <label for="form[WasTaxiCalled]">Was a taxi called?</label>
            <input type="text" name="form[WasTaxiCalled]" class="full-width">
        </div>
        <div class="clearfix">
            <label for="form[ProcessGoSmoother]">How could the process have gone about smoother or been avoided?</label>
            <textarea name="form[ProcessGoSmoother]" class="full-width half-height"></textarea>
        </div>
    </div>
</fieldset>

<div class="alert alert-info">
    <p>If there is anything else you would like to say but aren’t comfortable doing here please email the chair at <?=$this->mailto('chair@carpool.tamu.edu') ?>.</p>
</div>

<fieldset>
    <div class="clearfix">
        <label for="form[ExecInitials]">Exec initials:</label>
        <input type="text" name="form[ExecInitials]" style="width: 50px;" maxlength="4" />
    </div>
</fieldset>

<div class="clearfix">
    <label for="is_high_priority">Flag this Debriefing as Very Important:</label>
    <?=$this->formRadio('is_high_priority', NULL, NULL, array(0 => 'No', 1 => 'Yes')) ?>
</div>

<div class="alert alert-info">
    <p><b>Reminder Regarding Privacy:</b></p>
    <p>If you have communicated via text message during the course of the night, remember to delete any text messages that were sent or received concerning patrons, in order to protect the privacy of patrons.</p>
</div>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'positive',
		'icon'		=> 'email_go',
		'text'		=> 'Submit Debriefing',
	)) ?>
</div>
</form>

<script type="text/javascript">
$(function() {
	$('.role_fieldset').hide();
    $('.display-area').hide();

	$('.role_select').click(function() {
		$('.role_fieldset').slideUp('fast');
		var role = $(this).val();
		$('#role_'+role).slideDown('fast');
	});

    $('.display-trigger input').click(function() {
        var field_name = $(this).attr('name');
        var field_val = $(this).val();
        var display_area = $('.display-area[rel="'+field_name+'"]');

        if (field_val == "Y")
            display_area.slideDown('fast');
        else
            display_area.slideUp('fast');
    });
});
</script>