<?
$this->headTitle('Waiting for Ride')->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);
?>

<table id="records" class="datatable zebra sortable" width="100%">
    <thead>
        <tr>
            <th class="{sorter: false}">Actions</th>
            <th>Name</th>
            <th>Riders</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Cell</th>
            <th>Clothes</th>
            <th>Notes</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="assign-form" style="width: 400px; height: 400px; display: none;">
    <form method="post" action="<?=$this->routeFromHere(array('action' => 'assign')) ?>">
        <input type="hidden" name="num" class="fld-ridenum" value="" />
        
        <dl>
        	<dt>Passenger Name:</dt>
            <dd class="fld-name">&nbsp;</dd>
            
        	<dt>Car:</dt>
            <dd><input class="required number" name="car" autocomplete="off" /></dd>
        </dl>

        <div class="buttons">
            <?=$this->button(array(
                'type'      => 'submit',
                'text'      => 'Assign',
                'class'     => 'large success',
            )) ?>
        </div>
	</form>
</div>

<div id="split-form" style="width: 400px; height: 400px; display: none;">
    <form method="post" action="<?=$this->routeFromHere(array('action' => 'split')) ?>">
        <input type="hidden" name="num" class="fld-ridenum" value="" />
        
        <dl>
        	<dt>Passenger Name:</dt>
            <dd class="fld-name">&nbsp;</dd>
            
        	<dt>Car:</dt>
            <dd><input class="required number" name="car" autocomplete="off" /></dd>
            
            <dt>Riders for New Ride:</dt>
            <dd><input class="required number" name="riders" autocomplete="off" /></dd>
        </dl>

        <div class="buttons">
            <?=$this->button(array(
                'type'      => 'submit',
                'text'      => 'Split',
                'class'     => 'large success',
            )) ?>
        </div>
    </form>
</div>

<script id="row_template" type="text/x-jquery-tmpl">
    <tr id="row{{=num}}">
        <td nowrap="nowrap">
            <div class="assign" id="assign{{=num}}" style="display: none;"></div>
            <?=$this->button(array(
                'type'      => 'small',
                'href'      => '#assign-form',
                'class'     => 'btn-primary btn-assign fancybox',
                'rel'       => '{{=num}}',
                'text'      => 'Assign',
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'href'      => '#split-form',
                'class'     => 'btn-split fancybox',
                'rel'       => '{{=num}}',
                'text'      => 'Split',
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'href'      => $this->route(array('module' => 'phoneroom', 'controller' => 'edit', 'action' => 'index', 'origin' => 'ajax')).'/num/{{=num}}',
                'text'      => 'Edit',
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'href'      => $this->route(array('module' => 'phoneroom', 'controller' => 'cancel', 'action' => 'index', 'origin' => 'ajax')).'/num/{{=num}}',
                'class'     => 'btn-danger confirm-action',
                'text'      => 'Cancel',
            )) ?>
        </td>
        <td><div id="row_{{=num}}_name">{{=name }}</div></td>
        <td>{{=riders }}</td>
        <td><a href="{{=pickup_map }}" class="fancybox fancybox.iframe">{{=pickup }}</a></td>
        <td><a href="{{=dropoff_map }}" class="fancybox fancybox.iframe">{{=dropoff }}</a></td>
        <td nowrap="nowrap">{{=cell_display }}</td>
        <td>{{=clothes }}</td>
        <td>{{=notes }}</td>
        <td><span class="live_time {{=wait_time_class }}">{{=wait_time }}</span></td>
    </tr>
</script>

<script type="text/javascript">
$(function() {
    $('.btn-assign').live('click', function() {
        var ride_num = $(this).attr('rel');
        var ride_name = $('#row_'+ride_num+'_name').text();
        $('#assign-form input.fld-ridenum').val(ride_num);
        $('#assign-form .fld-name').html(ride_name);
    });

    $('.btn-split').live('click', function() {
        var ride_num = $(this).attr('rel');
        var ride_name = $('#row_'+ride_num+'_name').text();

        $('#split-form input.fld-ridenum').val(ride_num);
        $('#split-form .fld-name').html(ride_name);
    });
});
</script>

<script type="text/javascript">
var rides = <?=json_encode($this->rides) ?>;
var page_codes = ['waiting'];
</script>
<?=$this->renderHere('liveload', TRUE) ?>