<img src="<?=\DF\Url::content('livestats.jpg') ?>" alt="CARPOOL Live Stats" /><br />

<table class="datatable">
	<colgroup>
		<col width="40%" />
		<col width="20%" />
		<col width="20%" />
		<col width="20%" />
	</colgroup>
	<tr>
		<td align="center" class="odd"><big><?=date('m/d/Y', ADJUSTED_TIMESTAMP_UNIX) ?></big></td>
		<td align="center" class="even">
			<?=(int)$this->type_sums['riding']['riders'] ?><br />
			<small>Riding Now</small>
		</td>
		<td align="center" class="odd">
			<?=(int)$this->type_sums['riding']['riders'] ?><br />
			<small>Already Rode</small>
		</td>
		<td align="center" class="even">
			<?=(int)$this->type_sums['done']['rides'] ?><br />
			<small>Rides So Far</small>
		</td>
	</tr>
</table>