<?
$this->headTitle('Cars')->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);
echo $this->renderCommon('ajaxreload', array('is_ajax' => $this->is_ajax));
?>
<div id="ajax_content">
    <div style="float: right;"><?=date('g:ia') ?> - <span id="ajax_status">Loading...</span></div>
    
    <div id="legend-content">
        <div class="car-legend car-circuit">Circuit Car</div>
        <div class="car-legend car-normal" >Normal Car</div>
        <div class="car-legend car-call" >Call Now</div>
        <div class="car-legend car-chill" >Chilling</div>
        <div class="car-legend car-here" >Not Out</div>
        <div class="car-legend car-done" >Back Home</div>
    </div>

    <div style="clear: both;">&nbsp;</div>

    <table class="datatable" width="100%">
        <colgroup>
            <col width="3%" />
            <col width="22%" />
            <col width="20%" />
            <col width="20%" />
            <col width="10%" />
            <col width="25%" />
        </colgroup>
        <thead>
            <tr>
                <th>Car</th>
                <th>Status/Notes</th>
                <th>Vehicle</th>
                <th>Drivers</th>
                <th>Couch</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <? foreach($this->cars as $i => $car): ?>
            <tr class="<?=$car['class'] ?>">
                <td align="center"><big><b><?=$car['num'] ?></b></big></td>
                <td align="left">
                    <b><?=$car['status'] ?></b><br />
                    <small><?=$car['notes'] ?></small>
                </td>
                <td align="left"><?=$car['vehicle'] ?></td>
                <td align="left"><?=$car['drivers'] ?></td>
                <td align="left"><?=$car['couch'] ?></td>
                <td align="center">
                    <?=$this->button(array(
                        'type' => 'small',
                        'text' => 'Contacted',
                        'href' => $this->routeFromHere(array('action' => 'status', 'status' => 'called', 'carnum' => $i)),
                    )) ?>
                    <?=$this->button(array(
                        'type' => 'small',
                        'text' => 'To Home',
                        'href' => $this->routeFromHere(array('action' => 'status', 'status' => 'home', 'carnum' => $i)),
                    )) ?>
                    <?=$this->button(array(
                        'type' => 'small',
                        'text' => 'To NG',
                        'href' => $this->routeFromHere(array('action' => 'status', 'status' => 'ng', 'carnum' => $i)),
                    )) ?>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
</div>