<?
$this->headTitle('Members of: '.$this->team_name);
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'resultset_previous',
        'href'      => $this->routeFromHere(array('team' => NULL)),
        'text'      => 'Choose Another Team',
    )) ?>
</div>

<table class="datatable zebra">
	<colgroup>
    	<col width="25%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
    </colgroup>
    <thead>
    	<th>Name</th>
        <th>UIN</th>
        <th>E-mail Address</th>
        <th>Phone Num</th>
        <th>Nights</th>
        <th>Current Points</th>
        <th>Projected Points</th>
    </thead>
    <tbody>
	<? foreach($this->users as $user): ?>
    	<tr>
        	<td align="left"><?=$user['lastname'] ?>, <?=$user['firstname'] ?></td>
            <td align="left"><?=$user['uin'] ?></td>
            <td align="left"><?=$this->mailto($user['email']) ?></td>
            <td align="left"><?=$user['cphone'] ?></td>
            <td align="center"><?=(int)$user['statistics']['nights']['total_num'] ?></td>
            <td align="center"><?=(int)$user['statistics']['points']['current'] ?></td>
            <td align="center"><?=(int)$user['statistics']['points']['projected'] ?></td>
        </tr>
	<? endforeach; ?>
    </tbody>
</table>