<?
$this->headTitle('Event Agreements');
?>

<p><b>Note:</b> You can print this page and the items below will automatically separate into their correct pages.</p>

<div style="page-break-before: always;">
    <h2>Event Participant Agreement (Males)</h2>

    <?
    $this->members = $this->members_by_gender['M'];
    echo $this->renderHere('agreement_gender');
    ?>
</div>

<div style="page-break-before: always;">
    <h2>Event Participant Agreement (Females)</h2>

    <?
    $this->members = $this->members_by_gender['F'];
    echo $this->renderHere('agreement_gender');
    ?>
</div>

<?
for($i = 1; $i <= 2; $i++):
?>
    <div style="page-break-before: always;">
        <h2>Herschel Driver Agreement and Assumption of Risk</h2>
        <? echo $this->renderHere('agreement_herschel'); ?>
    </div>
<?
endfor;
?>

<div style="page-break-before: always;">&nbsp;</div>

<style type="text/css">
div.line {
    width: 95%;
    height: 30px;
    border-bottom: 1px solid #000;
}
</style>