<?
$this->headTitle('Event: '.$this->event['title'].' - '.date('F j, Y', $this->event['event_date']));
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span8">
        <div class="floating">
            <div class="buttons btn-group">
            <? if ($this->is_signed_up): ?>
            	<? if ($this->event['category'] == "night" && !\DF\Acl::getInstance()->isAllowed('access exec features')): ?>
            		<?=$this->button(array(
            			'type'		=> 'link',
            			'href'		=> $this->routeFromHere(array('action' => 'takemynight')),
            			'class'		=> 'danger',
            			'text'		=> 'Take My Night',
            		)) ?>        
            	<? else: ?>
            		<?=$this->button(array(
            			'type'		=> 'link',
            			'href'		=> $this->routeFromHere(array('action' => 'toggle')),
            			'class'		=> 'danger',
            			'text'		=> 'Remove Me',
            		)) ?>
            	<? endif; ?>
            <? elseif ($this->can_signup): ?>
            	<?=$this->button(array(
                    'type'		=> 'link',
                    'href'		=> $this->routeFromHere(array('action' => 'toggle')),
                    'class'		=> 'success',
                    'text'		=> 'Sign Me Up',
                )) ?>
            <? endif; ?>
            <? if (\DF\Acl::isAllowed('access director features')): ?>
                <?=$this->button(array(
                    'type'		=> 'link',
                    'id'        => 'btn_add_member',
                    'href'		=> '#dialog_add_member',
                    'class'     => 'fancybox success',
                    'text'		=> 'Add Member',
                )) ?>
                <?=$this->button(array(
                    'type'		=> 'link',
                    'href'		=> $this->routeFromHere(array('action' => 'agreement')),
                    'text'		=> 'Agreements',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'link',
                    'href'      => $this->routeFromHere(array('action' => 'foodneeds')),
                    'text'      => 'Food Needs',
                )) ?>
                <?=$this->button(array(
                    'type'		=> 'link',
                    'href'		=> $this->route(array(
                        'module'		=> 'sms',
                        'controller'	=> 'send',
                        'action'		=> 'send',
                        'recipients'	=> $this->sms_recipients,
                    )),
                    'text'		=> 'Send SMS',
                )) ?>
            <? endif; ?>
            <? if (\DF\Acl::isAllowed('access exec features')): ?>
                <?=$this->button(array(
                    'type'		=> 'link',
                    'href'		=> 'mailto:'.$this->email_recipients,
                    'text'		=> 'E-mail All',
                )) ?>
            <? endif; ?>
            </div>

            <h2>Event Details</h2>
            <dl>    
                <dt>Event Type:</dt>
                <dd><?=$this->event['category_text'] ?></dd>
                
                <dt>Event Name/Theme:</dt>
                <dd><?=$this->event['title'] ?></dd>
            
            <? if ($this->event['description']): ?>
                <dt>Description:</dt>
                <dd><?=$this->event['description'] ?></dd>
            <? endif; ?>
            
            <? if ($this->event['location']): ?>
                <dt>Location:</dt>
                <dd><?=$this->event['location'] ?></dd>
            <? endif; ?>
            
            <? if ($this->event['dic_contact']): ?>
                <dt>Nightly Director Contact Information:</dt>
                <dd><?=$this->event['dic_contact'] ?></dd>
            <? endif; ?>
            </dl>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
            <h2>Event Signup Overview</h2>
            
            <table class="datatable zebra">
                <colgroup>
                    <col width="15%" />
                    <col width="85%" />
                </colgroup>
                <tbody>
                <? if ($this->event['category'] == "night"): ?>
                    <tr class="input">
                        <td align="center"><?=$this->icon(array('type' => 'png32', 'image' => 'user')) ?></td>
                        <td align="left">
                            <small><b>Guys:</b></small><br>
                            <big><?=count($this->members_signed_up['M']) ?> / <?=intval($this->event['max_ppl']) ?></big>
                        </td>
                    </tr>
                    <tr class="input">
                        <td align="center"><?=$this->icon(array('type' => 'png32', 'image' => 'user_female')) ?></td>
                        <td align="left">
                            <small><b>Girls:</b></small><br>
                            <big><?=count($this->members_signed_up['F']) ?> / <?=intval($this->event['max_ppl']) ?></big>
                        </td>
                    </tr>
            <? else: ?>
                    <tr class="input">
                        <td align="center"><?=$this->icon(array('type' => 'png32', 'image' => 'user_green')) ?></td>
                        <td align="left">
                            <small><b>Members:</b></small><br>
                            <big><?=count($this->members_signed_up['members']) ?> / <?=intval($this->event['max_ppl']) ?></big>
                        </td>
                    </tr>
            <? endif; ?>
                    <tr class="input">
                        <td align="center"><?=$this->icon(array('type' => 'png32', 'image' => 'user_gray')) ?></td>
                        <td align="left">
                            <small><b>Execs/Directors:</b></small><br>
                            <big><?=count($this->members_signed_up['execs']) ?></big>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<? if ($this->event['category'] == "night"): ?>
    <? if ($this->members_signed_up['takemynight']): ?>
    <div class="row">
        <div class="span12">
            <div class="floating">
                <h2>Take My Night</h2>
                <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['takemynight'], 'mode' => 'takemynight')); ?>
            </div>
        </div>
    </div>
    <? endif; ?>

    <div class="row">
        <div class="span4">
            <div class="floating">
                <h3>Guys</h3>
                <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['M'])); ?>
            </div>
        </div>
        <div class="span4">
            <div class="floating">
                <h3>Girls</h3>
                <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['F'])); ?>
            </div>
        </div>
        <div class="span4">
            <div class="floating">
                <h3>Executives/Directors</h3>
                <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['execs'])); ?>
            </div>
            <div class="floating">
                <h3>Advisors</h3>
                <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['advisors'])); ?>
            </div>
        </div>
    </div>
<? else: ?>
    <div class="row">
        <div class="span6">
            <div class="floating">
                <h3>Members</h3>
                <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['members'])); ?>
            </div>
        </div>
        <div class="span6">
            <div class="floating">
                <h3>Executives/Directors</h3>
                <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['execs'])); ?>
            </div>
            <div class="floating">
                <h3>Advisors</h3>
                <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['advisors'])); ?>
            </div>
        </div>
    </div>
<? endif; ?>

<? if (\DF\Acl::getInstance()->isAllowed('access director features')): ?>
    <div id="dialog_add_member" style="width: 400px; height: 200px; display: none;">
        <h2>Add Member</h2>

        <form action="<?=$this->routeFromHere(array('action' => 'toggle')) ?>" method="post">
        <dl>
            <dt>User:</dt>
            <dd><?=$this->formSelect('uin', NULL, NULL, $this->user_select) ?></dd>
        </dl>
        
        <div class="buttons well">
            <?=$this->button(array(
                'type'		=> 'submit',
                'icon'		=> 'add',
                'class'     => 'large success',
                'text'		=> 'Add Member',
            )) ?>
        </div>
        </form>
    </div>
<? endif; ?>