<?
$this->headTitle('Welcome!');
$this->layout()->manual = TRUE;

$user = \DF\Auth::getInstance()->getLoggedInUser();
$user_info = $user->toArray();
?>

<? if ($user instanceof \Entity\User): ?>
	<? if (\DF\Acl::getInstance()->isAllowed('access member features')): ?>
		<? if (!empty($this->announcements)): ?>
        <div class="row">
            <div class="span12">
                <div class="floating">
                    <h2>Site-Wide Announcements</h2>
                    <?=nl2br($this->announcements) ?>
                </div>
            </div>
        </div>
        <? endif; ?>

        <div class="row">
            <div class="span8">
                <div class="floating">
                    <div style="float: right;">
                        <a href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'picture')) ?>" title="Change Picture"><?=$this->member_pic ?></a>
                    </div>
                    <div style="float: right; padding-right: 5px;">
                    <?
                    $semester_wheels = '';
                    for($i = 1; $i <= $user_info['semesters']; $i++)
                    {
                        $semester_wheels .= '<img src="'.\DF\Url::content('wheel_big.png').'" alt="(X)" title="1 Semester" />';
                    }
                    echo $semester_wheels;
                    ?>
                    </div>
                    <h2><?=$user_info['firstname'] ?> <?=$user_info['lastname'] ?></h2>
                
                    <div class="buttons well">
                        <?=$this->button(array(
                            'type'		=> 'link',
                            'icon'		=> 'vcard_edit',
                            'href'		=> $this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'edit')),
                            'text'		=> 'Edit Profile',
                        )) ?>
                    </div>
                    
                    <dl>
                        <dt>Class:</dt>
                        <dd><?=$user_info['class'] ?></dd>
                        
                        <dt>Cell Phone:</dt>
                        <dd><?=$user_info['cphone'] ?></dd>
                        
                        <dt>E-mail:</dt>
                        <dd><?=$user_info['email'] ?></dd>
                        
                        <dt>Major:</dt>
                        <dd><?=$user_info['major'] ?></dd>
                    </dl>
                </div>
            </div>
            <div class="span4">
                <div class="floating">
                <? if ($this->team): ?>
                    <h2><?=$this->team['team_name'] ?></h2>
                    
                    <dl>
                        <dt>Announcements:</dt>
                        <dd><?=nl2br($this->team_announcements) ?></dd>
                        
                        <dt>Members:</dt>
                        <dd>
                    <? foreach($this->team_members as $member): ?>
                        <div><a href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'view', 'id' => $member['id'])) ?>" title="Click to View Profile"><?=$member['lastname'] ?>, <?=$member['firstname'] ?></a></div>
                    <? endforeach; ?>
                        </dd>
                    </dl>
                <? else: ?>
                    <h2>My Team</h2>
                    <p>You are not currently in a team.</p>
                <? endif; ?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <div class="floating">
                    <h2>Upcoming Nights & Events</h2>
                    
                    <dl>
                        <dt>Upcoming Nights:</dt>
                        <dd>
                        <? foreach((array)$this->totals['nights']['future'] as $night): ?>
                            <div>
                                <small><?=$night['event_date']->format('F j, Y') ?>: </small><br />
                                <a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $night['num'])) ?>"><?=$night['text'] ?></a>
                            </div>
                        <? endforeach; ?>
                        </dd>
                        
                        <dt>Upcoming Events:</dt>
                        <dd>
                        <? foreach((array)$this->totals['non_nights']['future'] as $night): ?>
                            <div>
                                <small><?=$night['event_date']->format('F j, Y') ?>: </small><br />
                                <a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $night['num'])) ?>"><?=$night['text'] ?></a>
                            </div>
                        <? endforeach; ?>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="span4">
                <div class="floating">
                    <h2>Previous Nights & Events</h2>
                    <dl>
                        <dt>Previous Nights:</dt>
                        <dd>
                        <? foreach((array)$this->totals['non_nights']['done'] as $night): ?>
                            <div>
                                <small><?=$night['event_date']->format('F j, Y') ?>: </small><br />
                                <a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $night['num'])) ?>"><?=$night['text'] ?></a>
                            </div>
                        <? endforeach; ?>
                        </dd>
                        
                        <dt>Previous Events:</dt>
                        <dd>
                        <? foreach((array)$this->totals['non_nights']['done'] as $night): ?>
                            <div>
                                <small><?=$night['event_date']->format('F j, Y') ?>: </small><br />
                                <a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $night['num'])) ?>"><?=$night['text'] ?></a>
                            </div>
                        <? endforeach; ?>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="span4">
                <div class="floating">
                    <h2>My Points</h2>
                    
                    <dl>
                        <dt>Current:</dt>
                        <dd><big><?=intval($this->totals['points']['current']) ?></big></dd>
                        
                        <dt>Projected:</dt>
                        <dd><big><?=intval($this->totals['points']['projected']) ?></big></dd>
                        
                        <dt>Nights:</dt>
                        <dd><big><?=intval($this->totals['nights']['done_num']) ?></big></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <? else: ?>
    <div class="row">
        <div class="span12">
            <div class="floating">
                <h2>CARPOOL Membership Required to Access Site</h2>
                
                <p>Thank you for visiting CARPOOL Member Services. This page is restricted to member of the CARPOOL student organization. For more information about the CARPOOL organization, visit their public web site by clicking the button below.</p>
                
                <div class="buttons well">
                	<?=$this->button(array(
    					'type'		=> 'link',
                        'class'     => 'large primary',
    					'href'		=> 'http://carpool.tamu.edu/',
    					'icon'		=> 'world',
    					'text'		=> 'CARPOOL Homepage',
    				)); ?>
                </div>
                
                <p>If you are an incoming CARPOOL member or advisor, follow the steps below to set up access to the web site:</p>
                
                <dl>
                	<dt>Create a Profile</dt>
                    <dd>
                    	Click the button below to create your profile on the site. This will help directors and advisors easily identify you in the system.
                        
                        <div class="buttons well">
                            <?=$this->button(array(
                                'type'		=> 'small',
                                'class'     => 'primary',
                                'icon'		=> 'vcard_edit',
                                'href'		=> $this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'edit')),
                                'text'		=> 'Edit Profile',
                            )) ?>
                        </div>
                    </dd>
                    
                    <dt>Contact a Director or Advisor</dt>
                    <dd>After your profile is created, contact a director (if you are a member/exec) or advisor (if you are an advisor), who will provide you with access to the system.</dd>
                </dl>
            </div>
        </div>
    </div>
    <? endif; ?>
<? endif; ?>