<?php
$this->headTitle('Request a Ride');
?>

<form method="post" action="<?=\DF\Url::current() ?>">
<dl>
    <dt>Where can we pick you up?</dt>
    <dd><input type="text" name="form[PickupLocation]" /></dd>

    <dt>Where are you staying tonight?</dt>
    <dd><input type="text" name="form[DropOffLocation]" /></dd>

    <dt>Do you live in Bryan or CS?</dt>
    <dd><?=$this->formSelect('form[LocationCity]', NULL, NULL, $this->config->carpool->cities->toArray()) ?></dd>

	<dt>What is your name?</dt>
    <dd><input type="text" name="form[Name]" /></dd>

    <dt>What is your cell phone #?</dt>
    <dd><input type="text" name="form[CellNumber]" /></dd>
    
    <dt>How many people is this for?</dt>
    <dd><input type="text" name="form[NumRiders]" maxlength="2" autocomplete="off" /></dd>
    
    <dt>What are you wearing?</dt>
    <dd><input type="text" name="form[Clothes]" /></dd>
    
    <dt>Any additional information?</dt>
    <dd><textarea name="form[OtherNotes]"></textarea></dd>
</dl>

<input type="submit" name="submit" value="Submit Request" />
</form>