<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php
$title = current($this->headTitle()->getIterator());
$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
    $this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" | ")->toString();

$this->headLink()
    ->appendStylesheet(\DF\Url::content('global.css'), 'all')
	->appendStylesheet(\DF\Url::content('carpool.css'), 'all')
    ->appendStylesheet(\DF\Url::content('df-ui.css'), 'all')
    ->appendStylesheet(\DF\Url::content('print.css'), 'print');
    
$this->headScript()
    ->prependFile(\DF\Url::cdn('jqueryui', '1'))
    ->prependFile(\DF\Url::cdn('jquery', '1'))
    ->appendFile(\DF\Url::content('layout.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();
?>
<script>
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body>
<?php echo $this->layout()->content; ?>
</body>
</html>