<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" class="full_layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php
$title = current($this->headTitle()->getIterator());
$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
    $this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" | ")->toString();

$this->headLink()
	->appendStylesheet(\DF\Url::content('global.css'), 'all');
    
$this->headScript()
    ->prependFile(\DF\Url::cdn('jquery', '1'))
    ->appendFile(\DF\Url::content('layout.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();
?>
<script>
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body>
<div style="width: 600px; margin: 30px auto;" id="content">
	<h1 class="title"><?=$this->config->application->name ?></h1>
	
	<div class="floating">
	<? if ($title): ?>
		<h2><?=$title ?></h2>
	<? endif; ?>
		<?php echo $this->layout()->content; ?>
	</div>
</div>
</body>
</html>