<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<?php
$title = $this->headTitle("CARPOOL")->setSeparator(" | ");
echo $title;

if (!($this->title))
{
	$page_title_parts = explode(" | ", strip_tags((string)$title));
	$this->title = $page_title_parts[0];
}

// Get logged in user.
$user = \DF\Auth::getLoggedInUser();

// Add CSS and JavaScript.
$this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1');
    
$this->headLink()
	->prependStylesheet('http://code.jquery.com/mobile/latest/jquery.mobile.min.css')
	->appendStylesheet(\DF\Url::content('jquery/mobile/mobile.css'));

$this->headScript()
	->prependFile(\DF\Url::cdn('jqueryui', '1'))
    ->prependFile(\DF\Url::cdn('jquery', '1'))
	->appendFile('http://code.jquery.com/mobile/latest/jquery.mobile.min.js');

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();

// Google Analytics
if ($this->config->application->analytics_code)
	echo $this->analytics($this->config->application->analytics_code);
?>
<script type="text/javascript">
var DF_URL_BASE = '<?=\DF\Url::baseUrl() ?>';
var DF_URL_STATIC = '<?=\DF\Url::content() ?>';
var DF_THIS_PAGE = '<?=\DF\Url::current() ?>';
</script>
</head>
<div data-role="page">
	<div id="stuact_header">
		<b>CARPOOL</b><br />
        Caring Aggies R Protecting Over Our Lives
	</div>
	<div data-role="header"> 
		<h1><?=$this->title ?></h1> 
	</div><!-- /header --> 
 
	<div data-role="content">	
		<?=$this->layout()->content ?>		
	</div><!-- /content --> 
	
	<div id="stuact_footer">
		<hr />
		<big>CARPOOL</big><br />
		A Recognized Student Organization at<br />
        <a href="http://www.tamu.edu/">Texas A&amp;M University</a>
	</div><!-- /footer --> 
</div><!-- /page --> 

<!-- <?=$this->placeholder('content_top') ?> -->