<?
$this->headTitle('Manage Membership');

$num_meetings = 8;

$save_button = $this->button(array(
	'type'		=> 'submit',
	'class'		=> 'large primary',
	'icon'		=> 'disk',
	'text'		=> 'Save Changes',
));

$yesno_checks = array(
	'checked'		=> 1,
	'unChecked'		=> 0,
);

$links = array();
foreach($this->all_users as $team_name => $users)
    $links[] = '<a href="#members_'.str_replace(' ','', $team_name).'">'.$team_name.'</a>';
?>

<center><small><?=implode($links, ' &bull; ') ?></small></center>

<form action="<?=\DF\Url::current() ?>" method="post">
<div class="buttons well"><?=$save_button ?></div>

<table class="datatable zebra" width="100%">
	<colgroup>
    	<col width="3%" />
    	<col width="17%" />
        <col width="15%" />
        <col width="10%" />
		<col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <? for($i = 1; $i <= $num_meetings; $i++): ?>
        <col width="5%" />
        <? endfor; ?>
    </colgroup>
	<? foreach($this->all_users as $team_name => $users): ?>
    <thead>
        <tr>
            <th colspan="<?=($num_meetings+7) ?>" id="members_<?=str_replace(' ','', $team_name) ?>"><?=$team_name ?></th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>NetID</th>
            <th>Role</th>
            <th>Sems</th>
            <th>Dues</th>
            <th>Train</th>
        <? for($i = 1; $i <= $num_meetings; $i++): ?>
            <th><abbr title="Meeting <?=$i ?>">M<?=$i ?></abbr></th>
        <? endfor; ?>
        </tr>
    </thead>
    <tbody>
    	<? foreach($users as $user): ?>
        <tr class="input">
        	<td align="center"><a href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'view', 'id' => $user['id'])) ?>" title="Click to View Profile" target="_blank"><?=$this->icon('vcard') ?></a></td>
        	<td><b><?=$user['lastname'] ?></b>, <?=$user['firstname'] ?></td>
            <td><?=$user['username'] ?></td>
            <td><?=$user['group_name'] ?></td>
			<td><?=$this->formSelect('users['.$user['id'].'][semesters]', $user['semesters'], NULL, $this->semesters) ?></td>
            <td align="center"><?=$this->formCheckbox('users['.$user['id'].'][flag_dues]', $user['flag_dues'], NULL, $yesno_checks) ?></td>
            <td align="center"><?=$this->formCheckbox('users['.$user['id'].'][flag_trained]', $user['flag_trained'], NULL, $yesno_checks) ?></td>
        <? for($i = 1; $i <= $num_meetings; $i++): ?>
            <td align="center"><?=$this->formCheckbox('users['.$user['id'].'][flag_m'.$i.']', $user['flag_m'.$i], NULL, $yesno_checks) ?></td>
        <? endfor; ?>
        </tr>
        <? endforeach; ?>
    </tbody>
	<? endforeach; ?>
</table>

<div class="buttons well"><?=$save_button ?></div>
</form>