<?
$this->headTitle('Circuit Form')->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);

?>
<form class="main" method="post" action="<?=\DF\Url::current() ?>">
<dl>
	<dt>Car:</dt>
    <dd><input class="number" name="car" /></dd>
    
    <dt>What is the name:</dt>
    <dd><input class="field" name="name" /></dd>
    
    <dt>How many people:</dt>
    <dd class="info">Use a whole number, ie 1, 2, 3.</dd>
    <dd><input class="number" name="riders" /></dd>
    
    <dt>Dropoff:</dt>
    <dd><input class="field" name="dropoff" /></dd>
    
    <dt>City:</dt>
    <dd><?=$this->formSelect('location', NULL, NULL, $this->config->carpool->cities->toArray()) ?></dd>
</dl>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'large success',
		'icon'		=> 'add',
		'text'		=> 'Add Ride',
	)) ?>
</div>
</form>