<h2>Critical System Error</h2>

<p>A critical system error has occurred on a Student Activities web application. Details of the error are below.</p>

<dl>
	<dt>Exception:</dt>
    <dd><?=$this->exception_data['exception'] ?></dd>
    
    <dt>Message:</dt>
    <dd><?=$this->exception_data['message'] ?></dd>

<? if ($this->exception_data['extra_message']): ?>
	<dt>Extra Message:</dt>
    <dd><?=$this->exception_data['extra_message'] ?></dd>
<? endif; ?>

	<dt>Originating File:</dt>
    <dd><?=$this->exception_data['file'] ?> (<?=$this->exception_data['line'] ?>)</dd>
    
    <dt>Stack Trace:</dt>
    <dd><?=$this->exception_data['trace'] ?></dd>
    
    <dt>User IP:</dt>
    <dd><?=$this->exception_data['ip'] ?></dd>
    
    <dt>User Browser/Agent:</dt>
    <dd><?=$this->exception_data['browser'] ?></dd>
    
    <dt>Requested URI:</dt>
    <dd><?=$this->exception_data['uri'] ?></dd>
    
    <dt>Referring URL:</dt>
    <dd><?=$this->exception_data['referrer'] ?></dd>
    
    <dt>Defined Variables:</dt>
    <dd><pre><?=$this->exception_data['variables'] ?></pre></dd>
</dl>

<? if (\DF\Auth::isLoggedIn()): ?>
    <br>
    <p>The site visitor was logged in at the time of the error. User account information is below.</p>
    
    <?
    $user = \DF\Auth::getLoggedInUser();
    ?>
    
    <dl>
    	<dt>Username:</dt>
        <dd><?=$user->username ?></dd>
        
        <dt>Name:</dt>
        <dd><?=$user->firstname ?> <?=$user->lastname ?></dd>
        
        <dt>E-mail Address:</dt>
        <dd><?=$this->mailto($user->email) ?></dd>
    </dl>
<? endif; ?>