<?
$this->headTitle('Welcome!');
?>

<h2>Request a Ride</h2>
<p>Want a ride from CARPOOL? Click the button below and we will gather your information.</p>

<a href="<?=$this->routeFromHere(array('controller' => 'ride', 'action' => 'index')) ?>" data-role="button" data-theme="c">Request a Ride</a>

<h2>Call Us</h2>

<a href="tel:979-693-9905" data-role="button" data-theme="c">Phone: 693-9905</a>

<h2>Other Areas</h2>

<a href="http://carpool.tamu.edu?skipmobile=true" data-role="button" data-theme="a">View Full PC Site</a>