<?
$this->headTitle($this->profile['firstname'].' '.$this->profile['lastname']);
?>

<div class="smallbuttons">
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'flag_blue',
		'href'		=> $this->fb_link,
		'text'		=> 'Find Me on Facebook',
	)) ?>
</div>

<div style="float: right;">
    <?=$this->member_pic ?>
</div>
<div style="float: right; padding-right: 5px;">
<?
for($i = 1; $i <= $this->profile['semesters']; $i++)
    echo '<img src="'.\DF\Url::content('wheel_big.png').'" alt="(X)" title="1 Semester" />';
?>
</div>

<br>

<?=$this->form->renderView() ?>

<h3>Events and Nights</h3>
<div class="row">
    <div class="span5">
        <h4>Nights</h4>
        
    <? foreach((array)$this->totals['nights']['done'] as $night): ?>
        <div style="padding: 2px 0 5px 0;">
            <?=date('F j, Y', $night['timestamp']) ?>:<br />
            <a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $night['num'])) ?>"><?=$night['text'] ?></a>
        </div>
    <? endforeach; ?>
    </div>
    <div class="span5">
        <h4>Events</h4>
        
    <? foreach((array)$this->totals['non_nights']['done'] as $night): ?>
        <div style="padding: 2px 0 5px 0;">
            <?=date('F j, Y', $night['timestamp']) ?>:<br />
            <a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $night['num'])) ?>"><?=$night['text'] ?></a>
        </div>
    <? endforeach; ?>
    </div>
</div>

<br>
<h3>Points</h3>

<h4>Total Points</h4>
<big><?=intval($this->totals['points']['current']) ?></big><br />
<small><?=(int)$this->totals['points']['projected'] ?> Projected</small>

<? if ($this->acl->isAllowed('access director features')): ?>
    <br>
    <h4>Point Assignments</h4>
    <table class="datatable zebra" width="100%">
        <colgroup>
            <col width="5%" />
            <col width="25%" />
            <col width="10%" />
            <col width="75%" />
        </colgroup>
        <tr>
            <th>&nbsp;</th>
            <th>Date</th>
            <th>Points</th>
            <th>Description</th>
        </tr>
    <? foreach((array)$this->totals['points_items'] as $point): ?>
        <tr class="input">
            <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'removepoints', 'num' => $point['num'])) ?>" title="Remove Points" class="confirm-delete"><?=$this->icon('delete') ?></a></td>
            <td align="left"><?=date('F j, Y', $point['timestamp']) ?></td>
            <td align="center"><?=$point['points'] ?></td>
            <td align="left"><?=$point['event'] ?></td>
        </tr>
    <? endforeach; ?>
    </table>
<? endif; ?>