<?
$ndr_date_text = date('l, F j, Y', $this->report['ndr_date']);
$this->headTitle('Report for '.$ndr_date_text);
$this->tinymce('.notes_field');

$this->headScript()->appendFile(\DF\Url::cdn('jqueryui', '1.8'));

if (!$this->read_only_mode)
{
	$save_button = $this->button(array(
		'type'		=> 'submit',
		'class'		=> 'large success',
		'icon'		=> 'disk',
		'text'		=> 'Save Changes',
	));
}
else
{
	$save_button = '';	
}

/* JavaScript Setup */
$js_vars = array(
    'url_phoneroom_refresh' => $this->routeFromHere(array('action' => 'phoneroom', 'date' => $this->report['ndr_date'])),
    'url_email_couches' => $this->routeFromHere(array('action' => 'mailcouches')),
);
$head_script = '';
foreach($js_vars as $var_name => $var_val)
    $head_script .= "var ".$var_name." = '".str_replace("'", "\\'", $var_val)."';\n";

$this->headScript()->appendScript($head_script);
$this->headScript()->appendFile(\DF\Url::content('ndr.js'));
?>
<form id="ndr_form" class="<? if ($this->read_only_mode): ?>readonly<? endif; ?>" action="<?=\DF\Url::current() ?>" method="post">
<input type="hidden" name="active_tab" id="active_tab" value="#home" />

<div class="buttons well">
	<?=$save_button ?>
    <?=$this->button(array(
		'type'		=> 'button',
		'id'		=> 'btn_printable',
        'class'     => 'large',
		'icon'		=> 'printer',
		'text'		=> 'Printable View',
	)) ?>
</div>

<div class="tabbable">
    <ul class="tabs nav nav-tabs">
        <li class="active"><a href="#ndr_tab_home" data-toggle="tab">Home</a></li>
        <li><a href="#ndr_tab_assignments" data-toggle="tab">Assignments</a></li>
        <li><a href="#ndr_tab_preops" data-toggle="tab">Pre-Ops</a></li>
        <li><a href="#ndr_tab_cars" data-toggle="tab">Cars</a></li>
        <li><a href="#ndr_tab_debrief" data-toggle="tab">Debrief</a></li>
        <li><a href="#ndr_tab_postops" data-toggle="tab">Post-Ops</a></li>
        <li><a href="#ndr_tab_notes" data-toggle="tab">Notes</a></li>
    </ul>

    <div id="ndr_tabs" class="tab-content">
        <!-- Home Tab -->
        <div class="tab-pane active" id="ndr_tab_home">
    	<? if ($this->night): ?>
            <h2>Night Details</h2>
            <div class="smallbuttons">
            	<?=$this->button(array(
    				'type'		=> 'small',
    				'target'	=> '_blank',
    				'href'		=> $this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'index', 'num' => $this->night['num'])),
    				'icon'		=> 'calendar',
    				'text'		=> 'View Event Page',
    			)) ?>
            </div>

            <dl>
                <dt>Event Name:</dt>
                <dd><?=$this->night['title'] ?></dd>
                
                <dt>Event Type:</dt>
                <dd><?=$this->night['category'] ?></dd>
                
                <dt>Description:</dt>
                <dd><?=$this->night['description'] ?></dd>
            
                <dt>Location:</dt>
                <dd><?=$this->night['location'] ?></dd>
            </dl>
            
            <h2>Currently Signed Up</h2>
            
            <div class="smallbuttons">
    			<?=$this->button(array(
                    'type'		=> 'small',
                    'href'		=> $this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'agreement', 'num' => $this->night['num'], 'gender' => 'M')),
                    'icon'		=> 'user',
                    'text'		=> 'Print Agreement (Guys)',
                )) ?>
                <?=$this->button(array(
                    'type'		=> 'small',
                    'href'		=> $this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'agreement', 'num' => $this->night['num'], 'gender' => 'F')),
                    'icon'		=> 'user_female',
                    'text'		=> 'Print Agreement (Girls)',
                )) ?>
    			<?=$this->button(array(
    				'type'		=> 'small',
    				'href'		=> $this->route(array(
    					'module'		=> 'sms',
    					'controller'	=> 'send',
    					'action'		=> 'send',
    					'recipients'	=> $this->sms_recipients,
    				)),
    				'icon'		=> 'phone',
    				'text'		=> 'Send SMS',
    			)) ?>
    			<?=$this->button(array(
    				'type'		=> 'small',
    				'href'		=> 'mailto:'.$this->email_recipients,
    				'icon'		=> 'email',
    				'text'		=> 'E-mail All',
    			)) ?>
            	<?=$this->button(array(
    				'type'		=> 'small',
    				'href'		=> '#',
    				'class'		=> 'ndr-btn-status',
    				'rel'		=> 'ontime',
    				'icon'		=> 'flag_green',
    				'text'		=> 'Set All On Time',
    			)) ?>
                <?=$this->button(array(
    				'type'		=> 'small',
    				'href'		=> '#',
    				'class'		=> 'ndr-btn-status',
    				'rel'		=> 'late',
    				'icon'		=> 'flag_yellow',
    				'text'		=> 'Set All Late',
    			)) ?>
                <?=$this->button(array(
    				'type'		=> 'small',
    				'href'		=> '#',
    				'class'		=> 'ndr-btn-status',
    				'rel'		=> 'noshow',
    				'icon'		=> 'flag_red',
    				'text'		=> 'Set All No-Show',
    			)) ?>
            </div>
            <br>

            <div class="row">
                <div class="span3">
                    <h3>Guys</h3>
                    <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['M'], 'show_ndr' => TRUE, 'report' => $this->report)); ?>
                </div>
                <div class="span3">
                    <h3>Girls</h3>
                    <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['F'], 'show_ndr' => TRUE, 'report' => $this->report)); ?>
                </div>
                <div class="span3">
                    <h3>Executives/Directors</h3>
                    <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['execs'], 'show_ndr' => TRUE, 'report' => $this->report)); ?>
                    
                    <br />
                    <h3>Advisors</h3>
                    <?=$this->renderCommon('members', array('members_to_show' => $this->members_signed_up['advisors'], 'show_ndr' => TRUE, 'report' => $this->report)); ?>
                </div>
            </div>
        <? else: ?>
        	<h2>No Night Found</h2>
            <p>No associated night could be found for this NDR.</p>
        <? endif; ?>
        </div>
        
        <!-- Assignments Tab -->
        <div class="tab-pane" id="ndr_tab_assignments">
        	<h2>Assignments</h2>
            
            <div class="smallbuttons">
            	<?=$this->button(array(
    				'type'		=> 'small',
    				'id'		=> 'btn-reset-assignment',
    				'class'		=> 'negative',
    				'icon'		=> 'arrow_refresh',
    				'text'		=> 'Reset Assignment',
    			)) ?>
            </div>
            <br>
            <div class="row">
                <div class="span2">
                	<div id="assignment_unassigned" class="cp_droppable" rel="unassigned">
        	        	<h3>Unassigned</h3>
                      	
                        <div class="cp_droppable_container">
        				<? foreach($this->members_signed_up['all'] as $member): ?>
                            <div class="cp_draggable" id="assignment_member_<?=$member['id'] ?>" rel="<?=$member['id'] ?>">
                                <div>
                                    <?=$member['description'] ?><br />
        							<?=$member['firstname'] ?> <?=$member['lastname'] ?>
                                </div>
                            </div>
                        <? endforeach; ?>
                        </div>
                        <div class="clear">&nbsp;</div>
                	</div>            
                </div>
                <div class="span2">
                	<?
        			$max_cars = $this->config->carpool->max_num_cars;
        			$cars_firstset = ceil($max_cars / 3);
        			$cars_secondset = $cars_firstset*2;
        			?>
                    <? for($i = 1; $i <= $cars_firstset; $i++): ?>
                	<div id="assignment_car<?=$i ?>" class="cp_droppable" rel="car<?=$i ?>">
                    	<h3>Car <?=$i ?></h3>
                        <div class="cp_droppable_container"></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <? endfor; ?>
                </div>
                <div class="span2">
                    <? for($i = $cars_firstset+1; $i <= $cars_secondset; $i++): ?>
                	<div id="assignment_car<?=$i ?>" class="cp_droppable" rel="car<?=$i ?>">
                    	<h3>Car <?=$i ?></h3>
                        <div class="cp_droppable_container"></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <? endfor; ?>
                </div>
                <div class="span2">
                    <? for($i = $cars_secondset+1; $i <= $max_cars; $i++): ?>
                	<div id="assignment_car<?=$i ?>" class="cp_droppable" rel="car<?=$i ?>">
                    	<h3>Car <?=$i ?></h3>
                        <div class="cp_droppable_container"></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <? endfor; ?>
                </div>
                <div class="span2">
                	<?
        			$other_assignment_options = array(
        				'roverherschel'		=> 'Rover Herschel',
        				'ngherschel'		=> 'NG Herschel',
        				'incoming'			=> 'Incoming',
        				'couch'				=> 'Couch',
        				'dic'				=> 'DIC',
                        'duc'               => 'DUC',
                        'doc'               => 'DOC',
        				'advisor'			=> 'Advisor',
        			);
        			?>
                    <? foreach($other_assignment_options as $container_abbr => $container_name): ?>
                	<div id="assignment_<?=$container_abbr ?>" class="cp_droppable" rel="<?=$container_abbr ?>">
                    	<h3><?=$container_name ?></h3>
                        <div class="cp_droppable_container"></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
        
        <input type="hidden" id="assignment_results" name="report[assignment][results]" value="<?=$this->report['assignment']['results'] ?>" />
        
        <!-- Pre-Ops Tab -->
        <div class="tab-pane" id="ndr_tab_preops">
        	<h2>Pre-Ops</h2>

            <div class="row">
                <div class="span3">
                    <h3>Basic Info</h3>
                    
                    <dl>
                    	<dt>Special Events:</dt>
                        <dd><textarea name="report[preops][special_events]" class="full-width half-height"><?=$this->report['preops']['special_events'] ?></textarea></dd>
                        <dd>
        					<?
                            $special_events_other = array(
        						'football' => 'Football Weekend'
        					);
        					echo $this->formMultiCheckbox('report[preops][special_events_other]', $this->report['preops']['special_events_other'], NULL, $special_events_other);
        					?>
                        </dd>
                    </dl>
                </div>
                <div class="span3">
                	<h3>Directors</h3>
                    <dl>
                    	<dd>
        				<?
                        $preop_dic_checklist = array(
                            'signin'		=> 'Print Sign-In',
                            'powwow'		=> 'Exec Pow-Wow',
                            'foodsponsor'	=> 'Call Food Sponsor',
                        );
                        echo $this->formMultiCheckbox('report[preops][dic_checklist]', $this->report['preops']['dic_checklist'], NULL, $preop_dic_checklist);
        				?>
                        </dd>
                    </dl>
                                
                    <h3>Execs</h3>
                    <dl>
                    	<dd>
        				<?
                        $preop_exec_checklist = array(
        					'logsandclips'	=> 'Check Logs & Clipboards',
        					'pinkkits'		=> 'Check Pink Kits',
        					'cars'			=> 'Check Cars',
        					'food'			=> 'Go Get Food',
        					'lights'		=> 'Plug Lights In',
        					'doorman'		=> 'Doorman',
        					'misc'			=> 'Miscellaneous',
                        );
                        echo $this->formMultiCheckbox('report[preops][exec_checklist]', $this->report['preops']['exec_checklist'], NULL, $preop_exec_checklist);
        				?>
                        </dd>
                    </dl>
                </div>
                <div class="span4">
                	<h3>Questions</h3>
                    <p>If any of the boxes below are left unchecked, please explain in the Notes section.</p>
                    
                    <dl>
                    	<dd>
        				<?
                        $preop_questions = array(
        					'clean'			=> 'Was the house clean when you arrived?',
        					'ontime'		=> 'Did everyone arrive on time (execs and members)?',
        					'food'			=> 'Was talking to the food sponsor problem-free?',
        					'execs'			=> 'Did the execs perform all of the pre-op checks?',
                        );
                        echo $this->formMultiCheckbox('report[preops][questions]', $this->report['preops']['questions'], NULL, $preop_questions);
        				?>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        
        <!-- Cars Tab -->
        <div class="tab-pane" id="ndr_tab_cars">
        	<h2>Cars</h2>
        	<?
    		$num_cars = $this->config->carpool->max_num_cars;
    		$this->zebra('reset');
    		?>
            <table class="datatable" width="100%">
            	<colgroup>
                	<col width="5%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="25%" />
                </colgroup>
                <tr>
                	<th>Car&nbsp;#</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>License Plate</th>
                    <th>Couch</th>
                    <th>Notes</th>
                </tr>
                <? for($i = 1; $i <= $num_cars; $i++): ?>
                <tr class="<?=$this->zebra() ?> input">
                	<td align="center"><?=$i ?></td>
                    <td align="left"><input type="text" name="report[cars][<?=$i ?>][make]" class="full-width" value="<?=$this->report['cars'][$i]['make'] ?>" /></td>
                    <td align="left"><input type="text" name="report[cars][<?=$i ?>][model]" class="full-width" value="<?=$this->report['cars'][$i]['model'] ?>" /></td>
                    <td align="left"><input type="text" name="report[cars][<?=$i ?>][color]" class="full-width" value="<?=$this->report['cars'][$i]['color'] ?>" /></td>
                    <td align="left"><input type="text" name="report[cars][<?=$i ?>][license]" class="full-width" value="<?=$this->report['cars'][$i]['license'] ?>" /></td>
                    <td align="left"><input type="text" name="report[cars][<?=$i ?>][couch]" class="full-width" value="<?=$this->report['cars'][$i]['couch'] ?>" /></td>
                    <td align="left"><input type="text" name="report[cars][<?=$i ?>][notes]" class="full-width" value="<?=$this->report['cars'][$i]['notes'] ?>" /></td>
                </tr>
                <? endfor; ?>
            </table>
        </div>
            
        <!-- Debrief Tab -->
        <div class="tab-pane" id="ndr_tab_debrief">
        	<h2>Debriefings</h2>
            
            <div class="smallbuttons">
                <?=$this->button(array(
                    'type'		=> 'small',
                    'icon'		=> 'email_go',
                    'id'		=> 'btn_email_couches',
                    'href'		=> '#',
                    'text'		=> 'E-mail Scores to Couches',
                )) ?>
            </div>
            
            <h3>Custom Debriefing Question</h3>
            <dl>
            	<dt>Custom question for debriefings:</dt>
                <dd><input type="text" name="report[debrief][question]" class="full-width" value="<?=$this->report['debrief']['question'] ?>" /></dd>
                <dd class="info">Any question you type into the field above will show up on all debriefing forms.</dd>
            </dl>
            
            <h3>View Submitted Debriefings</h3>
            <p>Click each person's name to show or hide their debriefing details.</p>
            
            <? $this->zebra('reset'); ?>
            <? foreach($this->members_signed_up['all'] as $member): ?>
            <a class="debriefing_label datatable <?=$this->zebra() ?>" href="#" style="display: block; text-decoration: none;" rel="<?=$member['id'] ?>">
            <? if ($member['is_debriefed'] && $member['debriefing']['is_high_priority']): ?>
                <?=$this->icon('error') ?> <big><b><?=$member['firstname'] ?> <?=$member['lastname'] ?></b></big>
            <? else: ?>
                <?=$this->icon(($member['is_debriefed']) ? 'tick' : 'cross') ?>
                <big><?=$member['firstname'] ?> <?=$member['lastname'] ?></big>
            <? endif; ?>
            </a>
            <div class="debriefing_detail datatable <?=$this->zebra('repeat') ?>" id="debriefing_detail_<?=$member['id'] ?>">
            <? if ($member['is_debriefed']): ?>
                <? $this->zebra('reset', 'inner') ?>
                <table class="datatable" width="100%">
                	<colgroup>
                    	<col width="20%" />
                        <col width="80%" />
                    </colgroup>
                    <? foreach($member['debriefing']['debriefing_data'] as $form_key => $form_val): ?>
                    <? if (!empty($form_val)): ?>
                    <tr class="<?=$this->zebra(NULL, 'inner') ?>">
                    	<td align="right"><b><?=$form_key ?>:</b></td>
                        <td align="left"><?=$form_val ?></td>
                    </tr>
                    <? endif; ?>
                    <? endforeach; ?>
                </table>
            <? else: ?>
            	(No debriefing submitted for this user.)
            <? endif; ?>
            </div>
            <br />
            <? endforeach; ?>
        </div>
        
        <!-- Post-Ops Tab -->
        <div class="tab-pane" id="ndr_tab_postops">
        	<h2>Post-Ops</h2>

            <div class="row">
            	<div class="span3">
                	<h3>Cash and Rides</h3>
                    
                    <? $this->zebra('reset') ?>
                    <table class="datatable" width="100%">
                    	<colgroup>
                        	<col width="40%" />
                            <col width="30%" />
                            <col width="30%" />
                        </colgroup>
                    	<tr class="<?=$this->zebra() ?>">
                        	<td>$20 Bills</td>
                            <td><input type="text" name="report[postops][cash][20]" value="<?=$this->report['postops']['cash']['20'] ?>" class="postop-sum-field full-width" rel="20" /></td>
                            <td>x $20</td>
                        </tr>
                        <tr class="<?=$this->zebra() ?>">
                        	<td>$10 Bills</td>
                            <td><input type="text" name="report[postops][cash][10]" value="<?=$this->report['postops']['cash']['10'] ?>" class="postop-sum-field full-width" rel="10" /></td>
                            <td>x $10</td>
                        </tr>
                        <tr class="<?=$this->zebra() ?>">
                        	<td>$5 Bills</td>
                            <td><input type="text" name="report[postops][cash][5]" value="<?=$this->report['postops']['cash']['5'] ?>" class="postop-sum-field full-width" rel="5" /></td>
                            <td>x $5</td>
                        </tr>
                        <tr class="<?=$this->zebra() ?>">
                        	<td>$1 Bills</td>
                            <td><input type="text" name="report[postops][cash][1]" value="<?=$this->report['postops']['cash']['1'] ?>" class="postop-sum-field full-width" rel="1" /></td>
                            <td>x $1</td>
                        </tr>
                        <tr class="<?=$this->zebra() ?>">
                        	<td>Other</td>
                            <td><input type="text" name="report[postops][cash][other]" value="<?=$this->report['postops']['cash']['other'] ?>" class="postop-sum-field full-width" rel="1" /></td>
                            <td>x 1</td>
                        </tr>
                        <tr class="<?=$this->zebra() ?>">
                        	<td>Spent</td>
                            <td><input type="text" name="report[postops][cash][spent]" value="<?=$this->report['postops']['cash']['spent'] ?>" class="postop-diff-field full-width" rel="1" /></td>
                            <td>x 1</td>
                        </tr>
                        <tr class="blue">
                        	<td><b>Total</b></td>
                            <td colspan="2"><big><div id="postop-total">$0.00</div></big></td>
                        </tr>
                    </table>
                    
                    <br />
                    <h3>Rides</h3>
                    
                    <? $this->zebra('reset') ?>
                    <table class="datatable" width="100%">
                    	<colgroup>
                        	<col width="25%" />
                            <col width="75%" />
                        </colgroup>
                    	<tr class="<?=$this->zebra() ?>">
                      	 	<td align="center"><input type="text" id="fld_report_postops_rides_done" name="report[postops][rides][done]" value="<?=$this->report['postops']['rides']['done'] ?>" class="half-width" /></td>
                            <td>Done</td>
                        </tr>
                        <tr class="<?=$this->zebra() ?>">
                      	 	<td align="center"><input type="text" id="fld_report_postops_rides_missed" name="report[postops][rides][missed]" value="<?=$this->report['postops']['rides']['missed'] ?>" class="half-width" /></td>
                            <td>Missed</td>
                        </tr>
                        <tr class="<?=$this->zebra() ?>">
                      	 	<td align="center"><input type="text" id="fld_report_postops_rides_cancelled" name="report[postops][rides][cancelled]" value="<?=$this->report['postops']['rides']['cancelled'] ?>" class="half-width" /></td>
                            <td>Cancelled</td>
                        </tr>
                        <tr class="<?=$this->zebra() ?>">
                      	 	<td align="center"><input type="text" id="fld_report_postops_rides_ng" name="report[postops][rides][ng]" value="<?=$this->report['postops']['rides']['ng'] ?>" class="half-width" /></td>
                            <td>NG</td>
                        </tr>
                    </table>
        			
        			<div class="smallbuttons">
        				<?=$this->button(array(
        					'type'		=> 'small',
        					'icon'		=> 'arrow_refresh',
        					'id'		=> 'btn_refresh_from_phoneroom',
        					'href'		=> '#',
        					'text'		=> 'Load from Phoneroom',
        				)) ?>
        			</div>
                </div>
                <div class="span3">
                	<h3>Check-Offs</h3>
                    
                    <dl>
                    	<dd>
        				<?
        				$postop_checkoff = array(
        					'logs'				=> 'Get all logs back',
        					'debrief'			=> 'Debrief everyone',
        					'vacuum'			=> 'Vacuum the living room',
        					'order'				=> 'Put the office in order',
        					'checkcars'			=> 'Check cars',
        					'pluginpc'			=> 'Plug in all PCs',
        					'emptydishwasher'	=> 'Empty the dishwasher',
        					'debriefings'		=> 'Enter all debriefings',
        					'cash'				=> 'Count and put away cash',
        					'notes'				=> 'Write all notes',
                            'inventory'         => 'Take nightly inventory',
        					'finish'			=> 'Finish NDR',
                            'archive'           => 'Archive NDR',
                            'trash'             => 'Take trash cans to curb (Sat Only)',
        				);
                        echo $this->formMultiCheckbox('report[postops][checkoff]', $this->report['postops']['checkoff'], NULL, $postop_checkoff);
        				?>
                        </dd>
                    </dl>
                </div>
                <div class="span4">
                	<h3>Questions</h3>
                    <p>If any of the boxes below are not checked, explain in the notes section.</p>
                    
                    <dl>
                    	<dd>
        				<?
        				$postop_questions = array(
        					'enoughfood'		=> 'Was there enough food?',
        					'enoughbigcars'		=> 'Were there enough BIG cars (4+)?',
        					'enoughcarstotal'	=> 'Were there enough cars total?',
        					'enoughexecs'		=> 'Were there enough execs?',
        					'enoughmembers'		=> 'Were there enough members?',
        					'emergencies'		=> 'Were there emergencies?',
        				);
                        echo $this->formMultiCheckbox('report[postops][questions]', $this->report['postops']['questions'], NULL, $postop_questions);
        				?>
                        </dd>

                        <dt>Items Needed:</dt>
                        <dd><textarea name="report[postops][items_needed]" class="full-width" style="height: 100px;"><?=$this->report['postops']['items_needed'] ?></textarea></dd>
                    </dl>
                </div>
            </div>
        </div>
        
        <!-- Notes Tab -->
        <div class="tab-pane" id="ndr_tab_notes">
        	<h2>Notes</h2>
            <dl>
            	<dt>General Notes:</dt>
                <dd>
                    <?=$this->button(array(
                        'type'      => 'small',
                        'icon'      => 'disk',
                        'text'      => 'Quick-Save Notes',
                        'id'        => 'btn_quick_save',
                        'href'      => $this->routeFromHere(array('action' => 'savenotes')),
                    )) ?>
                </dd>
                <dd id="quicksave_status" style="display: none;">&nbsp;</dd>
    			<dd><textarea name="report[notes][notes]" id="notes_notes" class="notes_field full-width" style="height: 300px;"><?=$this->report['notes']['notes'] ?></textarea></dd>
                
                <dt>Notes for IT:</dt>
                <dd><textarea name="report[notes][it]" id="notes_itnotes" class="notes_field full-width" style="height: 120px;"><?=$this->report['notes']['it'] ?></textarea></dd>
            </dl>
        </div>
    </div>
</div>

<br>
<div class="buttons well"><?=$save_button ?></div>
</form>

<?=$this->renderCommon('exitprompt') ?>