<?
$this->headTitle('NDR Reports with IT Notes');
?>

<? foreach($this->ndrs as $ndr_id => $ndr): ?>
<fieldset>
	<legend><a href="<?=$this->routeFromHere(array('action' => 'edit', 'id' => $ndr['ndr_id'])) ?>">NDR For <?=$ndr['ndr_date'] ?></a></legend>
	
	<?=nl2br($ndr['notes']['it']) ?>
</fieldset>
<? endforeach; ?>