<?
$this->headTitle('Phone Room');
?>

<h2>Select NDR</h2>

<p>One or more NDR reports are currently active. Select the report you would like to manage from the list below.</p>

<dl>
<? foreach($this->active_ndrs as $ndr): ?>
    <dt><a href="<?=$this->routeFromHere(array('ndr_id' => $ndr['id'])) ?>"><?=$ndr['name'] ?></a></dt>
    <dd><?=$ndr['event']['event_date']->format('F j, Y') ?></dd>
<? endforeach; ?>
</dl>