<?
$this->headTitle('Nice Things');

$save_button = $this->button(array(
	'type'		=> 'submit',
	'icon'		=> 'disk',
	'class'		=> 'positive',
	'text'		=> 'Save Changes',
));
?>

<form action="<?=\DF\Url::current() ?>" method="post">
<div class="buttons"><?=$save_button ?></div>

<dl>
<? foreach($this->users as $user_row): ?>
	<dt><?=$user_row['lastname'] ?>, <?=$user_row['firstname'] ?></dt>
	<dd><textarea class="full-width half-height" name="NiceThing[<?=$user_row['id'] ?>]"><?=$user_row['message'] ?></textarea></dd>
<? endforeach; ?>
</dl>

<div class="buttons"><?=$save_button ?></div>
</form>