<?
$this->headtitle('Manage Users');
?>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
        'class'     => 'large success',
		'href'		=> $this->route(array('module' => 'admin', 'controller' => 'users', 'action' => 'add' )),
		'icon'		=> 'add',
		'text'		=> 'Add New User',
	)) ?>
</div>

<h2>Find a User</h2>

<form action="<?=DF_THIS_PAGE ?>" method="get">
<dl>
	<dt>Search terms:</dt>
    <dd><input type="text" name="q" value="<?=$this->q ?>" class="full-width big" /></dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
        'type'		=> 'submit',
        'icon'		=> 'find',
        'text'		=> 'Search Users',
    )) ?>
</div>
</form>

<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? else: ?>
	<h2>View All Users</h2>
<? endif; ?>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra">
    <colgroup>
        <col width="20%" />
        <col width="40%" />
        <col width="15%" />
        <col width="25%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>UIN</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $user): ?>
        <tr>
            <td align="center">
                <?=$this->button(array(
                    'type'		=> 'small',
                    'href'		=> $this->route(array('module' => 'admin', 'controller' => 'users', 'action' => 'edit', 'id' => $user->id)),
                    'icon'		=> 'pencil',
                    'text'		=> 'Edit',
                )) ?>
                <?=$this->button(array(
                    'type'		=> 'small',
                    'href'		=> $this->route(array('module' => 'admin', 'controller' => 'users', 'action' => 'delete', 'id' => $user->id)),
                    'icon'		=> 'delete',
                    'class'     => 'negative confirm-action',
                    'text'		=> 'Delete',
                )) ?>
            </td>
            <td align="left"><?=$user->lastname ?>, <?=$user->firstname ?></td>
            <td align="center"><?=$user->uin ?></td>
            <td align="left">
                <?
                $user_roles = array();
                if ($user->roles)
                {
                    foreach($user->roles as $role)
                    {
                        $user_roles[] = $role->name;
                    }
                }
                echo implode(', ', $user_roles);
                ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>