<? /*

<? if (!$this->is_ajax): ?>
	<? $this->headScript()->appendFile('http://maps.google.com/maps/api/js?sensor=false'); ?>
    <div class="buttons">
        <?=$this->button(array(
            'type'		=> 'button',
            'id'		=> 'btn-open-map-dialog',
            'icon'		=> 'map',
            'text'		=> 'Quick Map Tool',
        )) ?>
    </div>
    
    <div id="dialog_map">
        <table class="datatable" width="100%">
            <colgroup>
                <col width="30%" />
                <col width="30%" />
                <col width="40%" />
            </colgroup>
            <tr class="input">
                <td align="left" class="even">
                    <b>Starting Address:</b><br />
                    <input type="text" id="map_start" name="map_start" class="full-width" value="<?=$this->config->carpool->address ?>" />
                </td>
                <td align="left" class="odd">
                    <b>Destination Address:</b><br />
                    <input type="text" id="map_dest" name="map_dest" class="full-width" />
                </td>
                <td align="left" class="even">
                    <form action="http://maps.google.com/maps" method="get" target="_blank">
                    <input type="hidden" name="f" value="q" />
                    <input type="hidden" name="hl" value="en" />
                    <input type="hidden" name="pw" value="2" />
                    <input type="hidden" name="q" value="" />
                    
                    <div class="smallbuttons">
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'href'		=> '#',
                            'id'		=> 'btn-map',
                            'icon'		=> 'map',
                            'text'		=> 'Generate Map',
                        )) ?>
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'href'		=> '#',
                            'id'		=> 'btn-printable',
                            'icon'		=> 'printer',
                            'text'		=> 'Printable Map',
                        )) ?>
                    </div>
                    </form>
                </td>
            </tr>
        </table>
    
        <div id="map_canvas" style="width: 100%; height: 85%"></div>
    </div>
    
    <script type="text/javascript">
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    
    $(function() {
        $('#dialog_map').dialog({
            'title': 'Map Display',
            'width': 800,
            'height': 400,
            'autoOpen': false,
            'resizable': false,
            'modal': true
        });
        
        $('#btn-open-map-dialog').click(function() {
            $('#dialog_map').dialog('open');
            return false;	
        });
        $('#btn-map').click(function() {
            initMap();
            calcRoute();
            return false;
        });
        $('#btn-printable').click(function() {
            var map_form = $(this).closest('form');
            
            var start = $('#map_start').val();
            var dest = $('#map_dest').val();
            map_form.find('input[name="q"]').val(start+" to "+dest);
            map_form.submit();
            return false;
        });
    });
    
    function initMap() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var myOptions = {
            zoom:7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        directionsDisplay.setMap(map);
    }
      
    function calcRoute() {
        var start = $('#map_start').val();
        var dest = $('#map_dest').val();
        
        var request = {
            origin:start, 
            destination:dest,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(result);
            }
        });
    }
    </script>
<? endif; ?>

*/ ?>