<h2>Ride Details</h2>

<form name="theForm" class="main validate" method="post" action="<?=\DF\Url::current() ?>">
<input type="hidden" name="referer" value="<?=$_SERVER['HTTP_REFERER'] ?>" />

<dl>
    <dt>Where can we pick you up?</dt>
    <dd><input type="text" class="field" name="pickup" value="<?=$this->ride['pickup'] ?>" /></dd>

    <dt>Where are you staying tonight?</dt>
    <dd><input type="text" class="field" name="dropoff" value="<?=$this->ride['dropoff'] ?>" /></dd>

    <dt>Do you live in Bryan or CS?</dt>
    <dd><?=$this->formSelect('location', $this->ride['location'], NULL, $this->config->carpool->cities->toArray()) ?></dd>

	<dt>What is your name?</dt>
    <dd><input type="text" class="short required" name="name" value="<?=$this->ride['name'] ?>" /></dd>

    <dt>What is your cell phone #?</dt>
    <dd>
        <input type="text" class="number autotab" name="cell1" maxlength="3" rel="3" autocomplete="off" value="<?=$this->ride['cell1'] ?>" style="width: 40px;" /> -
        <input type="text" class="number autotab" name="cell2" maxlength="3" rel="3" autocomplete="off" value="<?=$this->ride['cell2'] ?>" style="width: 40px;" /> -
        <input type="text" class="number2" name="cell3" maxlength="4" autocomplete="off" value="<?=$this->ride['cell3'] ?>" style="width: 70px;" />
    </dd>
    
    <dt>How many people is this for?</dt>
    <dd><input type="text" class="required number" name="riders" maxlength="2" autocomplete="off" value="<?=$this->ride['riders'] ?>" /></dd>
    
    <dt>What are you wearing?</dt>
    <dd><input type="text" class="field" name="clothes" value="<?=$this->ride['clothes'] ?>" /></dd>
    
    <dt>Any additional information?</dt>
    <dd><textarea name="notes" cols="40" rows="3"><?=$this->ride['notes'] ?></textarea></dd>

<? if ($this->ride): ?>
	<dt>Car Number?</dt>
    <dd><input type="text" class="number" name="car" maxlength="3" cols="3" rows="6" value="<?=$this->ride['car'] ?>" /></dd>
<? endif; ?>
</dl>

<div class="buttons well">
<? if ($this->ride): ?>
    <input type="hidden" name="num" value="<?=$this->ride['num'] ?>" />
    <?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'large success',
		'icon'		=> 'disk',
		'text'		=> 'Save Changes',
	)) ?>
<? else: ?>
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'large success',
		'icon'		=> 'add',
		'text'		=> 'Add Ride',
	)) ?>
<? endif; ?>
</div>
</form>

<script type="text/javascript">
$(function() {
	$('input.autotab').keyup(function(e) {
		if (e.keyCode != 9) // Don't detect the tab key.
		{
			if ($(this).val().length == $(this).attr('maxlength'))
				$(this).next().focus();
		}
	});
});
</script>