<ul class="nav nav-pills autoselect" rel="<? if ($this->current_page == "index"): ?>incoming<? else: ?><?=$this->current_page ?><? endif; ?>">
<?
$active_children = $this->menu()->getActiveChildren();
?>
<? foreach($active_children as $child): ?>
    <li rel="<?=strtolower($child->getLabel()) ?>">
        <a href="<?=$child->getHref() ?>"><?=$child->getLabel() ?>
        <? if ($child->controller == "waiting"): ?>
            <span class="badge badge-inverse"><span id="num_waiting"><?=(int)$this->type_sums['waiting'] ?></span></span>
        <? elseif ($child->controller == "riding"): ?>
            <span class="badge badge-inverse"><span id="num_riding"><?=(int)$this->type_sums['riding'] ?></span></span>
        <? elseif ($child->controller == "done"): ?>
            <span class="badge badge-inverse"><span id="num_done"><?=(int)$this->type_sums['done'] ?></span> Dn</span>
            <span class="badge badge-inverse"><span id="num_cpmissed"><?=(int)$this->type_sums['cpmissed'] ?></span> Msd</span>
            <span class="badge badge-inverse"><span id="num_cancelled"><?=(int)$this->type_sums['cancelled'] ?></span> Cncld</span>
        <? endif; ?>
    </a></li>
<? endforeach; ?>

<? if ($this->ndr): ?>
    <div style="float: right; padding: 4px 0 0 0; width: 16px; height: 16px;">
        <a href="<?=$this->route(array('module' => 'phoneroom', 'controller' => 'select')) ?>" title="Switch Active Date"><?=$this->icon('arrow_switch') ?></a>
    </div>
    <div style="float: right; text-align: right; padding: 2px 5px 0 0; line-height: 12px; color: #333;">
        <?=$this->ndr['event']['event_date']->format('F j, Y') ?><br />
        <small><?=$this->ndr['event']['title'] ?></small>
    </div>
<? endif; ?>
</ul>